*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

ul[class],
ol[class] {
    padding: 0
}

body,
/* h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li, */
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0
}

ul[class],
ol[class] {
    list-style: none
}

a:not([class]) {
    text-decoration-skip-ink: auto
}

img {
    max-width: 100%;
    display: block
}

input,
button,
textarea,
select {
    font: inherit
}
:focus {
    outline: none;
}
h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.1;
}
h2 {
    font-size: 34px;
    font-weight: 600;
    line-height: 1.12;
}
h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.14;
}
@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-animation-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
        -webkit-transition-duration: 0.01ms !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1166px;
    }
}

body {
    font-family: 'Lexend', sans-serif;
}

.header__top-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    position: relative;
}

.main-menu>ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-menu>ul>li>a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: #000;
    position: relative;
    display: flex;
    align-items: center;
}

.header__btn {
    text-decoration: none;
    border-radius: 2px;
    background-color: #325dd8;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 0 12px;
    line-height: 40px;
    text-transform: uppercase;
}
.header__btn:hover {
    background-color: #1a45c2;
}
.header__bottom-block {
    background-color: rgb(157 154 199 / 4%);
    border-top: 1px solid #000;
}

.sub-menu-bottom {
    display: flex;
    justify-content: center;
    height: 48px;
}

.sub-menu-bottom a {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #000;
    margin: 0 32px;
    position: relative;
}

.sub-menu-bottom li:not(:last-child) a::after {
    content: '|';
    right: -32px;
    position: absolute;
}

.sub-menu-bottom li {
    display: flex;
    align-items: center;
}

.wpcr_averageStars,
.wpcr_averageStars span {
    background: url(https://bestwebsiteaccessibility.com/wp-content/themes/sobix2/assets/img/large-stars.png) 0 -20px repeat-x;
    width: 141px;
    height: 20px;
    display: block;
}

.wpcr_averageStars span {
    background-position: 0 0;
}

.single-reviews__header-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-reviews__btn {
    text-decoration: none;
    border-radius: 2px;
    background-color: #325dd8;
    color: #fff;
    line-height: 48px;
    padding: 0 16px;
}

.main__single-reviews {
    margin-top: 23px;
}

.single-reviews__title {
    font-size: 40px;
    line-height: 44px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-reviews__header-two {
    border-bottom: 1px solid rgb(0 0 0 / 16%);
    margin-top: 40px;
    padding-bottom: 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overall-title {
    font-size: 34px;
    line-height: 38px;
    font-weight: 600;
    margin-top: 31px;
}

.overall__row {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    border: solid 1px rgb(0 0 0 / 8%);
    padding: 12px 4px;
    margin-top: 36px;
}

.overall__item {
    display: flex;
    align-items: center;
    margin: 12px;
    width: calc(100% / 3 - 24px);
}

.overall__number {
    width: 32px;
    height: 32px;
    background-color: rgb(26 204 117 / 24%);
    border-radius: 50%;
    color: #1acc75;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overall__number_orange {
    background-color: rgb(255 133 15 / 24%);
    color: #ff850f;
}
.overall__text {
    margin-left: 8px;
    font-size: 14px;
    line-height: 14px;
}

.single-repeater__title {
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    margin-top: 34px;
}

.single-repeater__text {
    font-size: 16px;
    line-height: 24px;
}

.single-repeater__text p {
    margin: 16px 0;
}

.single-repeater__btn {
    color: #325dd8;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.single-repeater__btn svg {
    margin-left: 10px;
}

.explore-other__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.explore-other__item {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin: 16px 20px;
    padding: 26px;
    text-align: center;
}

.main__single-sidebar {
    width: 260px;
    min-width: 260px;
    margin-left: 40px;
    padding-top: 16px;
    margin-top: 48px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    height: max-content;
    position: sticky;
    top: 5px;
}

.sgingle-rewiews {
    display: flex;
}

.main__single-sidebar-item {
    border-bottom: solid 1px rgb(0 0 0 / 8%);
    margin-top: 16px;
    padding-bottom: 11px;
    text-align: center;
}

.main__single-sidebar-logo {
    display: flex;
    justify-content: center;
}

.main__single-sidebar-title {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
}

.main__single-sidebar-price {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.main__single-sidebar-btn {
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
    background-color: #325dd8;
    line-height: 40px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 16px;
}

.explore-other {
    margin-top: 72px;
}

.explore-other__title-block {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.14;
}

.explore-other__title {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
}

footer {
    background-color: #eef1f4;
    padding-top: 40px;
    margin-top: 20px;
}

.footer__row {
    display: flex;
    border-bottom: solid 1px #325dd8;
    padding-bottom: 20px;
}

.footer__item {
    width: calc(100% / 4);
}

.footer__text-logo {
    font-weight: 600;
    font-family: 'Krona One', sans-serif;
}

.footer__title-menu {
    color: #325dd8;
    line-height: 1.5;
    font-weight: 600;
}

.footer__menu-row {
    margin-top: 12px !important;
}

.footer__menu-row a {
    text-decoration: none;
    font-weight: 300;
    color: #000;
    margin-bottom: 5px;
    display: block;
}

.footer_social-row {
    margin-top: 27px;
    display: flex;
}

.footer_social-row a {
    display: block;
    margin-right: 24px;
}

.footer_social-item svg {
    color: #000;
}

.footer__copyright {
    font-size: 14px;
    font-weight: 300;
    padding: 27px 0;
}

.main-menu>ul>li>a::after {
    content: '';
    height: 6px;
    background: #325dd8;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
}

.main-menu>ul>li>a:hover::after {
    width: 100%;
}

.has-sub-menu-caption {
    /* display: flex; */
    display: none;
    justify-content: center;
    position: absolute;
    background: #001b69;
    width: calc(100% - 30px) !important;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
    padding: 3px !important;
}

li.menu-item-has-children:hover .sub-menu.has-sub-menu-caption {
    display: flex;
}

.has-sub-menu-caption a {
    color: #fff;
}

.sub-menu.has-sub-menu-caption>li {
    margin: 12px !important;
    width: 208px;
}

.sub-menu li.menu-item-has-children>a {
    color: #008bff;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.sub-menu>li>.sub-menu li a {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

.sub-menu>li>.sub-menu li a:hover {
    text-decoration: underline;
}

.sub-menu>li>.sub-menu li {
    padding: 6px 0;
}

.sub-menu>li>.sub-menu li a:hover::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-right fa-w-8 fa-2x"><path fill="rgb(255 255 255)" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z" class=""></path></svg>');
    background-repeat: no-repeat;
    margin-left: 10px;
}

nav.main-menu,
nav.main-menu>ul,
nav.main-menu>ul>li,
nav.main-menu>ul>li>a {
    height: 100%;
}

.witget-broker-stages__content {
    display: none;
}

.witget-broker-stages__content.active {
    display: block;
}

.witget-broker-stages {
    padding: 24px 100px;
    background-color: #fbfbfb;
    margin-top: 24px;
    border-radius: 16px;
    position: relative;
}

.witget-broker-stages__title {
    color: #325dd8;
    font-size: 34px;
    font-weight: 600;
    line-height: 1.12;
    text-align: center;
}

.witget-broker__tabs-row {
    display: flex;
    margin: 0 -8px;
    margin-top: 20px;
}

.witget-broker__tabs-item {
    border-radius: 3px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.08);
    background-color: rgba(0, 0, 0, 0.08);
    height: 6px;
    width: calc(100% / 5);
    margin: 0 8px;
}

.block-polls {
    margin-top: 38px;
}

.block-polls__title {
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.witget-broker-priew {
    content: '';
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-left fa-w-10 fa-2x"><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z" class=""></path></svg>');
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
}

.witget-broker-priew-next {
    content: '';
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-right fa-w-10 fa-2x"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" class=""></path></svg>');
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
}

.block-polls__row {
    display: flex;
    margin: 0 -20px;
    margin-top: 32px;
    width: min-content;
    position: relative;
    padding: 3px 7px;
}

.block-polls__item {
    width: 160px;
    min-width: 160px;
    margin: 0 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    border: solid 2px #ffffff;
    position: relative;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all .5s ease-in-out; /** Firefox **/
    -o-transition: all .5s ease-in-out; /** Opera **/
}

.block-polls__item-img {
    display: flex;
    justify-content: center;
}

.block-polls__item-title {
    text-align: center;
    font-weight: 600;
    line-height: 1.5;
    height: 48px;
    margin-top: 12px;
}

.block-polls__item.active,
.block-polls__item:hover {
    border-radius: 8px;
    box-shadow: 0 0 0 3px rgb(50 93 216 / 50%);
    border: solid 2px #325dd8;
    cursor: pointer;
}

.witget-broker-stages__hr {
    width: 100%;
    height: 1px;
    background: #000;
    margin-top: 26px;
    position: relative;
}

.witget-broker-stages__hr::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 18px;
    border: 20px solid transparent;
    border-top: 10px solid #000;
    bottom: -30px;
}

.witget-broker-stages__hr::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 18px;
    border: 20px solid transparent;
    border-top: 10px solid #fff;
    z-index: 10;
    bottom: -29px;
}

.best-results__title {
    margin-top: 26px;
    line-height: 1.14;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.best-results__row {
    display: flex;
    margin: 0 -20px;
    margin-top: 24px;
}

.best-results__item {
    width: calc(100% / 5);
    margin: 0 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    padding: 35px 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.best-results__img {
    display: flex;
    justify-content: center;
    height: 56px;
}

.best-results__item-title {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-top: 12px;
    line-height: 1.29;
    display: block;
    text-decoration: none;
    color: #000;
}
.best-results__item-title:hover {
    text-decoration: underline;
}
.best-results__item-title::after {
    content: '';
    width: 100%;
    height: 1px;
    background: rgb(0 0 0 / 16%);
    display: block;
    margin-top: 8px;
    margin-bottom: 7px;
}

.best-results__btn {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
    border-radius: 2px;
    background-color: #325dd8;
    display: block;
    text-align: center;
}
.best-results__btn:hover {
    background-color: #1a45c2;
}
.sidebar-block {
    overflow: hidden;
}
.witget-broker__tabs-item .witget-broker__bg {
    content: '';
    display: block;
    position: relative;
    background-image: linear-gradient(to left, #325dd8, #6196ee);
    border-radius: 3px;
    height: 6px;
    transition: .7s;
    left: 0;
}
.block-polls__title-item {
    display: none;
}
.block-polls__title-item.active {
 display: block;   
}
.news-one__row {
    margin: 0 -20px;
}
.news-one__item {
    width: calc(100% / 4 - 40px);
    margin: 20px;
    float: left;
}
.news-one__row .news-one__item:first-child {
    width: calc(50% - 40px);
}
.clear {
    clear: both;
}
.news-one {
    margin-top: 44px;
}
.news-one__img {
    border-radius: 4px;
    overflow: hidden;
    display: block;
}
.news-one__cat-name {
    color: #325dd8;
    line-height: 1;
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
}
.news-one__title {
    color: #000;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px;
    display: block;
    text-decoration: none;
}
.news-one__date {
    color: rgb(0 0 0 / 48%);
    line-height: 1;
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
}
.news-one__row .news-one__item:first-child .news-one__cat-name,
.news-one__row .news-one__item:first-child .news-one__title,
.news-one__row .news-one__item:first-child .news-one__date {
    margin-top: 16px;
}
.news-one__row .news-one__item:first-child .news-one__title {
    font-size: 34px;
}
.business-news .news-one__row {
    display: flex;
    flex-wrap: wrap;
}
.business-news .news-one__item {
    float:none;
}
.business-news .news-one__row .news-one__item:first-child .news-one__cat-name,
.business-news .news-one__row .news-one__item:first-child .news-one__title,
.business-news .news-one__row .news-one__item:first-child .news-one__date {
    margin-top: 14px;
}
.business-news .news-one__row .news-one__item:first-child .news-one__title {
    font-size: 20px;
}
.business-news .news-one__row .news-one__item:first-child {
    width: calc(100% / 4 - 40px);
}
.business-news .news-one__row {
    margin-top: 28px;
}
.title__h2 {
    font-size: 34px;
    line-height: 1.12;
    font-weight: 600;
}
.business-news {
    margin-top: 44px;
}
.business-news__title::after {
    content: '';
    display: block;
    width: 100%;
    height: 8px;
    background-color: #325dd8;
    margin-top: 8px;
}
.trending-broker__row {
    display: flex;
    counter-reset: list 0;
    margin-top: 40px;
}
.trending-broker__item {
    width: calc(100% / 5);
    border-left: 1px solid rgb(0 0 0 / 8%);
    padding-left: 15px;
}
.trending-broker__item::before {
    counter-increment: list;
    content: counter(list);
    line-height: 1.12;
    font-size: 34px;
    font-weight: 600;
    opacity: 0.48;
    color: #000;
}
.trending-broker__img {
    margin-top: 14px;
}
.trending-broker__img>img {
    width: 134px;
}
.trending-broker__linck {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #000;
    opacity: 0.48;
    margin-top: 14px;
}
.trending-broker {
    margin-top: 44px;
    padding-bottom: 20px;
}
.business-news__cat-row {
    margin-top: 32px;
    display: flex;
}
.business-news__cat-item {
    margin-right: 24px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 9px;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    padding: 0 11px;
    color: #000;
    text-decoration: none;
}
.live-stock {
    margin-top: 44px;
}
.live-stock {
    display: flex;
}
.live-stock__left {
    width: 760px;
    min-width: 760px;
}
.live-stock__right {
    width: 100%;
    padding-left: 44px;
}
.live-stock__btn-brocer {
    display: block;
    text-decoration: none;
    border-radius: 2px;
    border: solid 1px #325dd8;
    line-height: 48px;
    text-align: center;
    color: #325dd8;
    font-weight: 600;
}
.live-stock__btn-brocer:hover {
    background: #325dd8;
    color: #fff;
}
.live-stock__item {
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 14px 0;
    padding-right: 8px;
}
.live-stock__witget {
    margin-top: 48px;
}
.live-stock__row {
    counter-reset: list 0;
    margin-top: 38px;
}
.live-stock__row .live-stock__item .live-stock__num::before {
    counter-increment: list;
    content: counter(list);
}
.live-stock__num {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: #325dd8;
    border-right: solid 1px rgb(0 0 0 / 8%);
}
.live-stock__logo-title {
    margin-left: 11px;
}
.live-stock__logo {
    width: 60px;
}
.live-stock__title {
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    color: #000;
    margin-top: 4px;
}
.live-stock__item>div {
    display: flex;
}
.live-stock__link {
    border-radius: 2px;
    background-color: rgb(50 93 216 / 24%);
    color: #325dd8;
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
    height: 32px;
    padding: 0 19px;
    text-decoration: none;
}
.title__h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.1;
    color: #000;
    text-align: center;
}
.explore-other .explore-other {
    margin-top: 32px;
}
.explore-other .explore-other__row {
    margin-top: 48px;
}
.news-marcets__row {
    display: flex;
    margin: 0 -20px;
    margin-top: 32px;
}
.news-marcets__item {
    width: calc(100% / 3 - 40px);
    margin: 0 20px;
}
.news-marcets__img {
    border-radius: 4px;
    height: 144px;
    overflow: hidden;
}
.news-marcets__img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.news-marcets__cat-name {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    margin-top: 8px;
    color: #325dd8;
}
.news-marcets__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 8px;
    color: #000;
    text-decoration: none;
    display: block;
}
.news-marcets__date {
    font-size: 14px;
    font-weight: 600;
    opacity: 0.48;
    line-height: 1;
    margin-top: 8px;
}
.news-marcets__news-item {
    margin-bottom: 24px;
}
.best-broker__title {
    font-size: 20px;
    font-weight: 600;
    color: #325dd8;
    line-height: 1.2;
}
.best-broker__row {
    margin-top: 16px;
}
.best-broker__item {
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px 8px 8px;
    height: 64px;
}
.best-broker__bloks {
    display: flex;
    align-items: center;
}
.best-broker__img {
    width: 56px;
}
.best-broker__item-title {
    font-size: 14px;
    margin-left: 10px;
}
.best-broker__link {
    border-radius: 2px;
    background-color: #325dd8;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    padding: 0 7px;
    display: block;
    line-height: 32px;
    text-transform: uppercase;
}
.business-news__page.business-news,
.business-news__page .news-one__row{
    margin-top: 0;
}
.business-news__page.business-news {
    margin-bottom: 44px;
}
.single-news {
    margin-top: 32px;
}
.single-news__content p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 16px 0;
}
.single-news__content {
    margin-top: 64px;
}
.single-news .explore-other__row {
    margin-top: 32px;
}
.single-news .explore-other {
    margin-top: 64px;
}
.compersion-title {
    text-align: center;
    margin-top: 40px;
}
.sort__row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 32px;
}
.sort__item {
    margin: 0 20px;
    width: 200px;
}
.sotr__item-title {
    line-height: 1.5;
}
.sort__item select {
    margin-top: 8px;
    width: 100%;
    padding: 6px 21px 6px 21px;
    border: 1px solid rgb(0 0 0 / 16%);
}
.sort__clear-btn {
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}
.sort__showing {
    line-height: 1.5;
    color: #325dd8;
    font-size: 16px;
    font-weight: 600;
    margin-top: 32px;
    text-align: center;
}
.sort-broker {
    overflow: hidden;
}
.sort-broker__row {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    margin: 0 -10px;
    margin-top: 24px;
    position: relative;
    width: min-content;
}
.sort-broker__item {
    width: 212px;
    margin: 12px 10px;
    height: 32px;
}
.sort-broker__item input {
    display: none;
}
.fake-checkbox { 
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 4px;
    border-radius: 50%;
    position: relative;
  }
  .sort-broker__item label {
      cursor: pointer;
  }
  .sort-broker__item label::selection {
    background: none;
  }
  .sort-broker__row .sort-broker__item input[type="checkbox"]:checked + span{
    border: none;
  }
  .sort-broker__row .sort-broker__item input[type="checkbox"]:checked + span::before{
    content: "";
    display: block;
    background: #325dd8;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-top: -1px;
    margin-left: -1px;
    position: absolute;
  }
  .sort-broker__row .sort-broker__item input[type="checkbox"]:checked + span::after {
    content: "✓";
    font-size: 12px;
    display: block;
    color: #fff;
    position: absolute;
    top: -2px;
    left: 2px;
  }
  .sort-broker__btn {
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
      border-radius: 2px;
      background-color: #325dd8;
      line-height: 48px;
      display: block;
      margin: 0 auto;
      width: 360px;
      text-align: center;
      margin-top: 16px;
  }
  .sort-table__row {
      display: flex;
      border-top: 1px solid rgb(0 0 0 / 8%);
      border-left: 1px solid rgb(0 0 0 / 8%);
  }
  .sort-table__item {
    
  }
  .sort-table__sub-item {
      border-bottom: 1px solid rgb(0 0 0 / 8%);
      border-right: 1px solid rgb(0 0 0 / 8%);
      min-height: 88px;
      padding: 16px;
      padding-top: 21px;
      position: relative;
  }
  .sort-table__row .sort-table__item:first-child .sort-table__sub-item {
    padding-top: 16px;
  }
  .sort-table__logo {
      display: flex;
      justify-content: center;
  }
  .sort-table__sub-item .witget-all__star_row {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sort-table {
      margin-top: 72px;
  }
  .sort-broker__nav-priew{
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-left fa-w-10 fa-2x"><path fill="rgba(0, 0, 0, 0.32)" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z" class=""></path></svg>');
    width: 20px;
    height: 20px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
}

.sort-broker__nav-next {
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-right fa-w-10 fa-2x"><path fill="rgba(0, 0, 0, 0.32)" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" class=""></path></svg>');
    width: 20px;
    height: 20px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
}
.sort-broker__markew-row {
    display: flex;
    align-items: center;
    margin: 0 116px;
}
.sort-broker__nav {
    display: flex;
    justify-content: center;
}
.sort-broker__markew-item {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.32);
    width: 8px;
    height: 8px;
    margin: 0 8px;
}
.sort-broker__markew-item.active {
    background-color: #325dd8;
}
.filter-no-match {
    text-align: center;
    width: 100%;
}