@import "_reset";

$color-link: #797979;
$color-link-hover: #ff4a64;

body {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	border-bottom: 1px solid #d5d5d5;

	&>div {
		display: flex;
		justify-content: space-between;
		height: 60px;

		&>div,
		&>nav {
			display: flex;
			align-items: center;
		}
	}
}

nav {
	a {
		text-decoration: none;
		color: $color-link;
		font-size: 14px;

		&:hover {
			color: $color-link-hover;
		}
	}

	.nav__row>li>a {
		display: flex;
		align-items: center;
		height: 100%;
	}
}

.nav__row {
	display: flex;
	width: 100%;
	height: 100%;

	li {
		a {
			padding: 0 20px;
		}
	}
}

.sub-menu {
	opacity: 0;
	background: #343a40;
	position: absolute;
	right: 0;
	width: max-content;
	top: 55px;
	transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
	transform: translateY(0.6rem);
	right: 9999rem;

	&::after {
		content: "";
		display: block;
		position: absolute;
		bottom: 100%;
		border: 9px solid transparent;
		border-bottom-color: #343a40;
		right: 15px;

	}

	li {
		a {
			margin-left: 0;
			display: block;
			padding: 8px 15px;
			color: #fff;
		}

		&:hover {
			background: rgba(255, 255, 255, .15);
		}
	}
}

li.menu-item-has-children {
	position: relative;
	display: flex;

	&:hover .sub-menu {
		opacity: 1;
		transform: translateY(0);
		transition: opacity 0.15s linear, transform 0.15s linear;
		right: 0;
	}

	&>a::after {
		content: '';
		display: inline-block;
		background: url('data:image/svg+xml;utf8, <svg class="svg-inline--fa fa-chevron-down fa-w-14" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"></path></svg>');
		background-repeat: no-repeat;
		width: 10px;
		height: 11px;
		position: relative;
		top: calc(50% - 4px);
		position: absolute;
		right: 3px;
	}
}

li.menu-item-has-children:hover a::after {
	background: url('data:image/svg+xml;utf8, <svg class="svg-inline--fa fa-chevron-down fa-w-14" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="rgb(255 74 100)" d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"></path></svg>');

}

footer {
	background: #262551;
	color: #fff;
	font-size: 14px;
	padding: 40px 0;

	>div {
		display: flex;
	}
}

.footer-left {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.footer-right {
	width: 75%;
	padding-left: 30px;
}

.footer-menu {
	display: flex;
	justify-content: space-between;

	&>li:hover a {
		text-decoration: underline;
	}
}

.footer-menu a {
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	;
}

.copyright {
	margin-top: 15px;
}

.footer-text {
	margin-top: 25px;
}

.content {
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;
}

#primary {
	width: calc(75% - 30px);
	margin-right: 30px;
}

#secondary {
	width: 25%;
}