@media (min-width: 1099px) {
    /* .main-content_home-page>main {
        max-width: 565px;
        padding: 0;
    } */
}

@media (min-width: 992px) {
    .menu-item-has-children>.has-sub-menu-caption>.menu-item-has-children>.mobile-menu-children {
        display: none;
    }
    .project-tiles .slick-slide {
        height: auto !important;
    }
    .project-tiles .slick-list {
        overflow: visible !important;
    }
    .slick-track,
    .filter-no-match {
        width: 100% !important;
    }
}

@media (max-width: 1199px) {
    .main-content_home-page>main {
        max-width: 565px;
        padding: 0;
    }
    .nav-content ul {
        width: 100%;
    }
    .nav-content a {
        font-size: 12px;
        padding: 15px 5px;
    }
    .sub-menu .sub-menu {
        padding: 0 !important;
    }
    .header_home__block {
        width: 600px;
    }
    .witget-all__raiting {
        margin-right: 20px;
    }
    .witget-all__info {
        margin-left: 20px;
        margin-right: 20px;
    }
    .full-page-content-item__content table {
        display: table;
        width: max-content !important;
    }
    .sidebar-full-page,
    #content {
        margin-left: 578px;
        margin-top: 30px;
    }
    .single-page-bg {
        flex-direction: column;
    }
    .top-5-witget-article {
        max-width: 100%;
    }
    .sidebar {
        margin-left: 665px;
        width: 265px;
    }
    #article {
        width: 650px;
    }
    main#article,
    #sidebar.home-sidebar {
        width: 565px;
    }
    .sidebar_block {
        padding-left: 20px;
    }
    .single-reviews-info.fixed {
        width: 565px;
    }
    .btn-mobile-filter {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: block;
        width: 100%;
        line-height: 50px;
        color: #fff;
        text-align: center;
        font-weight: 600;
        background: #120a8f;
    }
    .filter-sidebar {
        margin: 0;
        display: block;
        transition: all 1s ease;
        right: -270px;
        top: 0;
        position: fixed;
        z-index: 10;
        overflow: scroll;
        height: 100%;
    }
    .filter-sidebar.active {
        right: 0;
    }
    .btn-mobile-filter-bg.active {
        width: 100%;
        display: block;
        background: rgb(0 0 0 / .6);
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9;
    }
    .popup-filter-title {
        background: #f4f4f4;
        padding: 12px 15px;
        font-weight: 600;
        border-bottom: 1px solid #ff9725;
    }
    .popup-filter-title.active {
        display: block;
    }
    .filter-sidebar .advertiser-close {
        right: 7px;
        display: block;
    }
    .popup-filter-title {
        display: block;
    }
    .project-tiles {
        width: 100%;
    }
    .nav__row>li>a {
        font-size: 14px;
        padding: 0 10px;
    }
    .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle {
        font-size: 14px;
    }
    .mobile-menu-children {
        right: 2px;
    }
    .sidebar-witget-article {
        display: none;
    }
    main#article {
        width: 100%;
    }
    #sidebar {
        width: 100%;
    }
    .header_home__referal {
        display: none;
    }
    li.menu-item-has-children.best-solutions:hover .sub-menu.has-sub-menu-caption {
        left: -250px;
    }
    li.menu-item-has-children.sub-menu-reviews-en:hover .sub-menu.has-sub-menu-caption {
        left: -460px;
    }
    li.menu-item-has-children.sub-menu-reviews-fr:hover .sub-menu.has-sub-menu-caption {
        left: -533px;
    }
    li.menu-item-has-children.sub-menu-reviews-de:hover .sub-menu.has-sub-menu-caption {
        left: -513px;
    }
    .sub-menu>li>.sub-menu li a {
        padding-left: 15px;
    }
    .witget-top3__item:nth-child(1) .witget-top3__text,
    .witget-top3__text {
        font-size: 14px;
        line-height: 20px;
    }
    .sidebar,
    #aside1,
    #content {
        display: none;
    }
    .nav-content.fixed {
        width: 100%;
        left: 0;
        padding: 0 5px;
    }
    .single-reviews-info.fixed {
        width: 100%;
        left: 0;
        margin-bottom: 0 !important;
        padding: 7px 0 !important;
        align-items: center;
        justify-content: space-around;
    }
}

@media (max-width: 991px) {
    .close-popup {
        display: none !important;
    }
    .nav-content a {
        font-size: 14px;
    }
    .home-bottom-block-post__desc,
    .home-one-post__autor-data {
        display: none;
    }
    .home-bottom-block-post__text {
        order: -1;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
    }
    .home-bottom-block-post__img {
        height: auto;
    }
    .sidebar-full-page {
        display: none;
    }
    .main-content_home-page #article {
        height: auto;
        float: none;
    }
    .home-bottom-block-post__text {
        padding-left: 0;
    }
    .wpml-ls-native {
        display: none;
    }
    .wpml-ls-legacy-dropdown-click {
        position: absolute;
        right: 70px;
        top: 17px;
    }
    .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu {
        position: sticky;
    }
    .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle {
        justify-content: flex-end;
    }
    header>.container {
        position: relative;
    }
    .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:before {
        width: 25px;
        height: 26px;
    }
    .comparison-mobile-pc {
        background: rgb(18, 10, 143);
    }
    .comparison-mobile-pc:hover {
        background: #ff9725;
    }
    .single-reviews-castom-row__btn-visit_mobile {
        display: flex;
    }
    .witget-all,
    main#article,
    .home-sidebar {
        width: 100%;
    }
    .witget-top3__row {
        flex-direction: column;
    }
    .witget-top3__item {
        width: 100%;
        margin-bottom: 15px;
    }
    .witget-top3__item:first-child {
        width: 100%;
        order: 0;
        margin-bottom: 15px;
    }
    .witget-main {
        flex-direction: column;
    }
    .witget-all__item {
        padding-left: 7px;
    }
    .footer-menu {
        justify-content: flex-start;
    }
    .witget-top3__item {
        border-radius: 24px !important;
    }
    .witget-top3__raiting::before {
        border-radius: 0 23px 0 24px;
    }
    .header_home {
        background: none;
    }
    .header_home__block {
        width: 100%;
    }
    .sidebar,
    #aside1,
    #content {
        display: none;
    }
    #sidebar {
        width: 100% !important;
        float: none !important;
    }
    .witget-top3__item:first-child::before {
        content: 'Most Popular';
        display: block;
        position: absolute;
        left: -21px;
        top: -1px;
        background: url(../img/group.png);
        width: 176px;
        height: 48px;
        font-size: 20px;
        font-family: 'Sarabun', sans-serif;
        font-weight: 700;
        color: #fff;
        text-align: center;
    }
    .header_home {
        height: auto;
        padding-bottom: 33px;
    }
    .menu-toggle {
        display: block;
    }
    nav {
        position: absolute;
        flex-direction: column;
        background: #D0E7FF;
        top: 64px;
        width: 100%;
        left: 0;
        z-index: 99;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: opacity 230ms ease, visability 230ms ease, max-height 230ms ease;
        -moz-transition: opacity 230ms ease, visability 230ms ease, max-height 230ms ease;
        -ms-transition: opacity 230ms ease, visability 230ms ease, max-height 230ms ease;
        -o-transition: opacity 230ms ease, visability 230ms ease, max-height 230ms ease;
    }
    nav.active {
        max-height: 9999px;
    }
    .nav__row {
        flex-direction: column;
    }
    nav .nav__row>li>a {
        display: block;
        width: 100%;
        font-size: 16px;
        line-height: 3;
        border-bottom: 1px solid rgb(0 57 125 / .2);
        ;
        color: #000;
    }
    li.menu-item-has-children {
        flex-direction: column;
    }
    .sub-menu {
        top: 0;
        width: 100%;
        right: 0;
        left: 0;
        margin: auto;
        position: relative;
        overflow: hidden;
        max-height: 0;
        opacity: 1;
        z-index: 3;
        transform: none;
    }
    .sub-menu.active {
        max-height: 99999px;
    }
    .sub-menu li {
        border-bottom: 1px solid rgb(0 57 125 / .2);
    }
    .sub-menu::after {
        display: none;
    }
    .sub-menu li a {
        padding: 8px 40px;
    }
    header>div {
        height: 64px;
    }
    .header_home__referal-disclosure,
    .header_home__last-updated-sep {
        color: rgb(33, 33, 33);
    }
    .mobile-menu-children {
        position: absolute;
        z-index: 3;
        cursor: pointer;
        height: 49px;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        right: 0;
    }
    .mobile-menu-children::before {
        content: '';
        width: 1px;
        height: 65%;
        background: rgb(0 57 125 / .2);
        position: absolute;
        left: 0;
    }
    .mobile-menu-children::after {
        content: '';
        display: inline-block;
        background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-angle-down fa-w-10 fa-lg"><path fill="rgb(0, 0, 0)" d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z" class=""></path></svg>');
        background-repeat: no-repeat;
        width: 11px;
        height: 18px;
        z-index: 4;
    }
    .sub-menu.has-sub-menu-caption {
        flex-direction: column;
    }
    .sub-menu {
        padding: 0 !important;
        max-width: none;
    }
    .sub-menu li a {
        margin-bottom: 0;
    }
    .sub-menu.has-sub-menu-caption>li>a {
        height: 49px;
        display: flex;
        align-items: center;
    }
    .sub-menu.has-sub-menu-caption .sub-menu li {
        border-bottom: none;
    }
    li.menu-item-has-children:hover .sub-menu {
        left: 0 !important;
    }
    #article {
        width: 100%;
    }
    .header_home {
        background: none !important;
    }
    .nav-content ul {
        width: 100%;
    }
    li.best-solutions:hover .sub-menu.has-sub-menu-caption {
        width: 100%;
    }
    .sub-menu.has-sub-menu-caption>li.menu-item-has-children {
        width: 100%;
        padding: 0px 20px;
        min-height: 50px;
        padding-top: 5px;
        justify-content: center;
        border: none;
        margin: 0;
    }
    .sub-menu.has-sub-menu-caption {
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    }
    .sub-menu.has-sub-menu-caption>li>a {
        height: auto;
        top: 0;
    }
    .menu-item-has-children .description {
        top: 0;
    }
    .nav__row>li.menu-item-has-children:hover>a::after {
        display: none;
    }
    li.best-solutions .sub-menu.has-sub-menu-caption.active,
    .nav__row>.menu-item-has-children>.sub-menu.active {
        display: block;
    }
    .nav__row>.menu-item-has-children.sub-menu-btn>.sub-menu.active {
        padding-bottom: 48px !important;
    }
    .sub-menu-btn-all-cat {
        z-index: 9;
    }
    .sub-menu>li>.sub-menu {
        margin-top: 10px;
        border-radius: 0;
    }
    .sub-menu>li>.sub-menu li a:hover {
        transform: none;
    }
    .mobile-menu-children.active::after {
        transform: rotate(180deg);
    }
    .single-reviews-info.fixed {
        width: 100%;
        left: 0;
        margin-bottom: 0 !important;
        padding: 7px 0 !important;
        align-items: center;
        justify-content: space-around;
    }
    .single-reviews-info.fixed .witget-all__star_row {
        display: none;
    }
    .single-reviews-info.fixed .witget-all__btn {
        width: 120px;
        position: relative;
        margin-bottom: 0;
    }
    .single-reviews-info.fixed .witget-all__raiting span {
        font-size: 30px;
        line-height: 30px;
    }
    .nav__row>li.menu-item-has-children:hover>a::before {
        display: none;
    }
    .sub-menu {
        border: none;
        border-radius: 0 0 20px 20px;
    }
    .sub-menu.has-sub-menu-caption>li.menu-item-has-children {}
    .sub-menu>li>.sub-menu li a {
        padding: 3px 15px;
    }
    .ribbon-top {
        width: auto;
        font-size: 14px;
        line-height: 28px;
        padding: 0 17px;
        height: 28px;
        border-bottom-right-radius: 10px;
    }
    .ribbon-top::before {
        top: 28px;
        left: 0;
    }
    .footer-bottm {
        flex-direction: column;
    }
    .footer-text {
        padding: 0;
    }
    .footer-bottm__text {
        order: 1;
        margin-top: 30px;
    }
    .contact-us form {
        width: 100%;
    }
    .header_home__animate-icon {
        display: none;
    }
    .project-tiles {
        width: calc(100% - 166px);
    }
    .popup-compare__step-two .project-tiles__info.hidden .project-tiles__rating,
    .popup-compare__step-two .project-tiles__info.hidden .project-tiles__url-read-more {
        max-height: 0;
        overflow: hidden;
    }
    .project-tiles__info.hidden .project-tiles__url-read-more {
        margin: 0;
    }
    .witget-top3__btn-comp {
        width: calc(100% - 30px);
        text-align: center;
        padding: 0;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -34px;
        top: auto;
    }
    footer .wpml-ls-legacy-dropdown-click {
        display: none;
    }
    .home-bottom-block-post__item {
        padding: 20px 12px;
        box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
        justify-content: space-between;
    }
    .main-content_home-page main {
        padding-right: 0;
    }
    .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:after {
        display: none !important;
    }
    .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle {
        padding: 0 !important;
    }
    .witget-top3__item:nth-child(3) {
        order: 0;
    }
    .project-tiles__info {
        /* top: 83px; */
        top: 0;
    }
    .btn-popup__logo {
        display: none;
    }
    .btn-popup__logo {
        margin-bottom: 10px;
    }
    .btn-popup__logo img {
        width: 110px;
        height: 25px;
    }
    .close-popup__title {
        padding: 5px 0;
    }
    .btn-popup .wpcf7-submit {
        line-height: 30px;
    }
    .btn-popup .wpcf7-form-control-wrap {
        margin-bottom: 5px;
    }
    .btn-popup input {
        height: 25px;
    }
    .btn-popup .close-popup__content-row {
        padding: 15px 40px;
    }
    .wpcf7-response-output {
        font-size: 14px;
        line-height: 14px;
        margin: 0 !important;
        margin-top: 15px !important;
    }
}

@media (max-width: 767px) {
    .witget-top3__link_none-after {
        text-align: center;
    }
    .home-two-post .home-two-post__item .home-two-post__title,
    .home-two-post .home-two-post__item:nth-child(1) .home-two-post__title {
        position: absolute;
        top: 0;
        font-size: 22px;
        font-weight: 800;
        letter-spacing: 0.26px;
        line-height: 1.33;
        color: #fff;
        width: calc(100% - 80px);
        margin: 20px;
    }
    .home-two-post .home-two-post__item .home-two-post__img::before {
        content: '';
        width: 100%;
        height: 100%;
        background-image: linear-gradient( 180deg, rgb(12 12 12 / 50%) 0%, rgba(242, 41, 91, 0) 100%);
        display: block;
        position: absolute;
    }
    .home-two-post .home-two-post__item {
        width: 100%;
        position: relative;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .nav-content {
        width: 100%;
        background: #78a0d0;
        height: 45px;
        border-radius: 8px;
        position: relative;
        cursor: pointer;
    }
    .nav-content::before {
        content: 'Page menu';
        padding: 0px 20px;
        line-height: 45px;
        display: block;
        font-weight: 500;
    }
    .nav-content::after {
        content: '';
        display: inline-block;
        background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sort-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-sort-down fa-w-10 fa-2x"><path fill="currentColor" d="M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z" class=""></path></svg>');
        width: 9px;
        height: 20px;
        position: absolute;
        top: 13px;
        background-repeat: no-repeat;
        right: 20px;
    }
    .nav-content ul {
        flex-direction: column;
        display: none;
        position: relative;
        top: 5px;
    }
    .nav-content.active ul {
        display: block;
    }
    .nav-content.active::after {
        transform: rotate(180deg);
    }
    .nav-content a {
        padding: 15px 20px;
    }
    .nav-content.fixed {
        left: 0;
        border-radius: 0;
    }
    .witget-all__raiting {
        text-align: left;
        margin-left: 13px;
        margin-top: 10px;
    }
    .witget-all__btn {
        margin-top: 10px;
    }
    .header_home__global-disclosure {
        height: auto;
        position: relative;
    }
    .header_home__referal-disclosure {
        justify-content: flex-start;
    }
    .witget-all__list-features-row>div,
    .witget-all__item:first-child .bb-bubble-rts,
    .witget-all__read-more::after {
        display: none;
    }
    .witget-all__info {
        position: absolute;
        bottom: 0;
        display: none;
    }
    .witget-all__btn {
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% + 4px);
        margin: 0 -2px;
        margin-bottom: -2px;
    }
    .witget-all__link {
        height: 40px;
        width: 100%;
        border-radius: 0 0 8px 8px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        padding: 0;
        align-items: center;
    }
    .witget-all__raiting {
        text-align: center;
        margin: 0;
    }
    .witget-all__block {
        min-height: auto;
        align-items: normal;
        flex-wrap: wrap;
        margin-bottom: 36px;
    }
    .witget-all__block>div {
        width: 50%;
        justify-content: center;
        padding-top: 20px;
        border-bottom: 2px solid rgba(182, 180, 180, .30);
        padding-bottom: 12px;
    }
    .witget-all__item {
        padding: 0;
    }
    .witget-all__block>div:first-child {
        border-right: 2px solid rgba(182, 180, 180, .30);
    }
    .witget-all__item:first-child::before,
    .witget-top3__item:first-child::before {
        width: 120px;
        height: 32px;
        font-size: 16px;
        line-height: 21px;
        background-size: cover;
        font-weight: 600;
        left: -15px;
        top: -12px;
    }
    .witget-all__star_row {
        margin-top: 6px !important;
    }
    .witget-all__raiting__desc {
        margin-top: 9px;
    }
    .tlt-icon {
        top: 2px;
        right: 5px;
    }
    .witget-all__info {
        position: absolute;
        bottom: 39px;
        margin: 0;
        left: 0;
        width: 100%;
        height: 40px;
    }
    .witget-all__list-features-row {
        margin: 0;
        height: 100%;
    }
    .witget-all__read-more {
        color: rgb(33, 33, 33);
        font-size: 14px;
        line-height: 14px;
        width: 100%;
        margin: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .witget-top3__item {
        padding: 28px 12px 10px 12px !important;
        height: auto !important;
        border-radius: 16px !important;
    }
    .witget-top3__raiting:before,
    .witget-top3__item:nth-child(3) ::before {
        width: 56px;
        height: 56px;
        border-radius: 0 15px 0 15px;
    }
    .witget-top3__raiting span {
        font-size: 18px;
        top: 12px;
    }
    .witget-top3__text {
        padding: 7px 0 0 0;
        font-size: 14px;
        line-height: 18px;
    }
    .witget-top3__link {
        position: static;
        font-size: 16px;
        margin-top: 8px;
    }
    .footer-right {
        padding: 0;
    }
    .footer-menu-top li:not(:last-child),
    .footer-menu-bottom li:not(:last-child) {
        margin-right: 0;
    }
    .footer-menu-top,
    .footer-menu-bottom {
        display: flex;
        flex-direction: column;
    }
    .footer-top {
        display: flex;
        flex-direction: column;
    }
    .footer-top .footer-left {
        order: -1;
        border-bottom: 1px solid rgb(151, 151, 151);
        padding-bottom: 16px;
        margin-bottom: 16px;
    }
    .footer-top {
        border: none;
        padding: none;
    }
    .footer-bottm {
        flex-direction: column;
    }
    .copyright {
        margin: 0;
        text-align: left;
        margin-top: 10px;
    }
    .footer-top {
        padding-bottom: 0;
    }
    .footer-text {
        order: 1;
    }
    .footer-left__social {
        margin-top: 10px;
    }
    .footer-right {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .witget-all__title {
        position: absolute;
        right: calc(50% + 9px);
        text-align: right;
        z-index: -1;
        line-height: 14px;
        font-size: 14px;
        height: 40px;
        top: 0;
        display: flex;
        align-items: center;
    }
    .witget-all__read-more span {
        position: absolute;
        left: calc(50% - 3px);
        color: rgb(33, 33, 33);
    }
    .witget-all__read-more span::before {
        content: '|';
        margin-right: 7px;
    }
    .arсhive-rewiews .witget-all__title {
        position: static;
        height: 36px;
    }
    .arсhive-rewiews .witget-all__list-features-row>div {
        display: block;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
    .arсhive-rewiews .witget-all__info {
        padding: 0 10px;
        height: auto;
        top: 105px;
    }
    .arсhive-rewiews .witget-all__title {}
    .arсhive-rewiews .witget-all__block {
        margin-bottom: 37px;
    }
    .arсhive-rewiews .witget-all__read-more {
        position: absolute;
        bottom: 10px;
        height: auto;
        color: rgb(18, 10, 143);
        font-size: 16px;
    }
    .arсhive-rewiews .witget-all__read-more::after {
        display: inline-block;
    }
    .single-reviews-info {
        flex-flow: column wrap;
        height: 155px;
        padding: 24px 24px 60px;
        position: relative;
    }
    .single-reviews-info {
        justify-content: flex-start;
    }
    .single-page-bg .single-reviews-info__img {
        width: 88px;
        height: 44px;
        margin-bottom: 8px;
    }
    .single-page-bg .witget-all__star_row {
        zoom: 73%;
    }
    .single-page-bg .witget-all__link {
        width: calc(100% - 48px);
        border-radius: 8px;
        margin: 0 24px;
    }
    .single-page-bg .witget-all__btn {
        margin-bottom: 12px;
    }
    .single-page-bg .single-reviews-info {
        border-radius: 8px;
    }
    .single-page-bg .single-reviews-info {
        padding: 12px 24px 60px;
    }
    .bb-bubble-rts {
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: auto;
        height: max-content;
        padding: 5px 0;
        bottom: -40px;
        background: #8fc7ff;
        color: #000000;
        border: 1px solid #000;
    }
    .bb-bubble-rts::before {
        content: '';
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 7px solid #000;
        border-top: none;
        position: absolute;
        top: -7px;
        left: 0;
        right: 0;
        margin: auto;
        width: 12px;
        bottom: auto;
    }
    .bb-bubble-rts::after {
        content: '';
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 6px solid #8fc7ff;
        border-top: none;
        position: absolute;
        top: -6px;
        left: 0;
        right: 0;
        margin: auto;
        width: 10px;
        bottom: auto;
    }
    .witget-all__item_mobile {
        margin-bottom: 54px;
    }
    .article-content__item {
        flex-direction: column;
    }
    .article-content__img {
        max-width: 100%;
        min-width: 100%;
    }
    .article-content__img a {
        height: 180px;
        overflow: hidden;
        border-radius: 5px;
    }
    .article-content__text {
        margin-top: 20px;
        margin-left: 0;
    }
    .article-content__date {
        margin-top: 0;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    .about_us_repiter_item__container {
        flex-direction: column;
    }
    .about-repiter__img {
        margin-left: 0;
    }
    .about_us_repiter_item:nth-child(even) .about-repiter__img {
        margin-right: 0;
    }
    .about-repiter__img {
        min-width: auto;
    }
    .bestsolution-cat__row {
        margin: 0;
        flex-direction: column;
    }
    .bestsolution-cat__item {
        width: 100%;
        margin: 20px 0;
    }
    .bestsolution-cat__all-bloks li::before {
        background: rgb(255, 151, 37);
    }
    .footer-left {
        width: 100%;
    }
    .footer-expert__item {
        margin-bottom: 30px;
    }
    .footer-expert__row {
        padding-bottom: 0;
    }
    .footer-bottm__item_menu {
        flex-direction: column;
        min-width: auto;
    }
    .breadcrumbs {
        display: none;
    }
    .component {
        overflow: hidden;
        height: 141px;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
    }
    .component__read-more {
        display: block;
        text-align: revert;
        color: #120a8f;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .footer-bottm__text {
        border: 1px solid rgb(151, 151, 151);
        border-radius: 10px;
        padding: 10px;
    }
    .footer-bottm {
        margin-top: 0;
    }
    .footer-bottm__item-two {
        margin-top: 25px;
    }
    .footer-bottm__item-one::before {
        content: 'Contact us';
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
        display: block;
    }
    .footer-menu-top li a,
    .footer-menu-bottom li a {
        font-size: 15px;
        font-weight: 300;
    }
    /* .footer-bottm__item-two::before {
        content: 'Quick links';
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
        display: block;
    } */
    .btn-mobile-compare {
        display: block;
        height: auto;
        bottom: 50px;
        width: 100%;
        line-height: 50px;
        font-weight: 600;
    }
    .header_home__check-row {
        margin-top: 20px;
    }
    .header_home__global-disclosure>div {
        line-height: 20px;
        font-size: 12px;
    }
    .header_home__check-item {
        margin-bottom: 10px;
        line-height: 24px;
    }
    .header-block {
        position: relative;
    }
    .hh-block {
        margin-bottom: 10px;
        padding: 5px 0;
    }
    .header_home__check-item {
        font-size: 14px;
    }
    .btn-popup {
        width: calc(100% - 20px);
    }
    .compare-name__filter {
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    .witget-all__bottom-down {
        flex-direction: column;
    }
    .bottom-down__item_one {
        margin: 0;
        padding: 0 15px;
        border: none;
        width: 100%;
    }
    .bottom-down__img {
        display: flex;
        justify-content: center;
    }
    .witget-all__btn {
        height: 40px;
    }
    .bb-bubble-rts {
        bottom: -55px;
    }
    .witget-all__images-brend a {
        /* min-width: 60px; */
        margin: 5px;
    }
    .witget-all__images-brend {
        /* flex-wrap: wrap; */
    }
    .witget-all__images-brend a img {
        max-height: 35px;
        object-fit: contain;
    }
    .witget-all__item {
        padding-bottom: 40px;
    }
    .witget-all__read-more {
        width: auto;
        top: 125px;
        position: absolute;
        height: auto;
    }
    .witget-all__read-more span {
        position: sticky;
    }
    .witget-all__read-more span::before {
        display: none;
    }
    .witget-all__read-more_show-more {
        margin: 0;
        top: 124px;
        right: 84px;
    }
    .witget-all__btn {
        position: static;
        bottom: 0;
        left: 0;
        width: auto;
        margin: 0;
        margin-bottom: 0;
    }
    .witget-all__link {
        position: absolute;
        bottom: -13px;
        width: 100%;
        left: 0;
    }
}

@media (max-width: 576px) {
    .project-tiles {
        margin-right: 25px;
    }
    .table-col {
        min-width: 150px;
        width: 150px;
    }
    .advertiser-disclosure-text {
        margin: 0 auto;
        width: calc(100% - 20px);
        right: 0;
        left: 0;
    }
}

@media (max-width: 540px) {
    .header_btn-compare {
        margin-bottom: 10px;
    }
    .footer-expert__row {
        flex-direction: column;
    }
    .footer-expert__item {
        margin-right: 0;
    }
    .header_home__text
    /* .witget-top3  */
    {
        display: none;
    }
    .header_home__title {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    .header_home {
        padding: 16px 0;
    }
    .witget-top3 h2,
    .witget-all__h2,
    .sidebar-witget-article__title {
        font-size: 22px;
        line-height: 24px;
    }
    .witget-all__h2 {
        margin-top: 16px;
    }
    .component h2 {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 8px;
    }
    .component p {
        font-size: 14px;
        line-height: 18px;
    }
    .content_home {
        margin-bottom: 0;
    }
    .archive-title {
        font-size: 28px;
        line-height: 32px;
        margin-top: 12px;
    }
    .archive-descption {
        font-size: 14px;
        line-height: 18px;
    }
    .footer-left {
        width: auto;
    }
    .single-page-bg .single-reviews-scoring__row {
        flex-direction: column;
        margin: 0;
    }
    .single-page-bg .single-reviews-scoring__item {
        padding: 0;
    }
    .single-page-bg .full-page__title {
        font-size: 28px;
        line-height: 32px;
    }
    .single-page-bg .full-page__autor-info {
        padding-top: 20px;
    }
    .single-page-bg .full-page__top-title {
        flex-direction: column;
        align-items: flex-start;
    }
    .single-page-bg {
        margin-top: 12px;
    }
    .single-page-bg .single-reviews-info {
        margin-bottom: 15px;
    }
    .single-page-bg .single-reviews-scoring__title {
        width: calc(100% - 25px);
    }
    .single-reviews-castom-row {
        padding: 24px 16px;
    }
    .full-page-content-item__title {
        font-size: 22px;
        line-height: 24px;
    }
    .single-reviews-final h2,
    main.article h2 {
        font-size: 22px;
        line-height: 24px;
    }
    .single-reviews-final h3,
    main.article h3 {
        font-size: 18px;
        line-height: 22px;
    }
    .single-reviews-final h4,
    main.article h4 {
        font-size: 16px;
        line-height: 18px;
    }
    .single-reviews-final,
    main.article {
        font-size: 16px;
        line-height: 24px;
    }
    .single-page-bg .sidebar-full-page {
        display: none;
    }
    .about-author__title,
    .about-author__text-title {
        font-size: 16px;
        line-height: 18px;
    }
    .about-author__ligo {
        min-width: 32px;
        min-height: 32px;
        max-width: 32px;
        max-height: 32px;
    }
    .about-author__text-row {
        margin-top: 8px;
        padding-left: 10px;
    }
    .full-page__autor-info span {
        margin: 0 7px;
    }
    .single-reviews-info__img img {
        width: 100%;
    }
    .single-reviews-info.fixed .witget-all__raiting span {
        font-size: 24px;
    }
    .single-reviews-info.fixed .witget-all__raiting__desc {
        font-size: 12px;
    }
    .home-bottom-block-post {
        margin-top: 0;
    }
    .home-two-post .home-two-post__item:nth-child(1) {
        height: auto;
    }
    .home-bottom-block-post__h2 a {
        font-size: 16px;
        line-height: 24px;
    }
    .home-bottom-block-post__img {
        max-width: 50%;
        min-width: 50%;
        width: 50%;
    }
    .home-bottom-block-post__img {
        display: flex;
        align-items: center;
    }
    .home-bottom-block-post__titile {
        font-size: 24px;
    }
    .comparadise__review-result-row .project-tiles__item {
        min-width: calc(100% / 2 + 5px);
    }
    .comparadise__review-result-row .project-tiles__item {
        min-width: calc(100% / 2 + 5px) !important;
    }
    /* .compare-name__filter {
        word-wrap: break-word;
        word-break: break-all;
    } */
    .header_home__disclosure {
        text-align: right;
    }
    .header_home__last-updated-sep {
        margin-right: 15px;
    }
}

@media (max-width: 374px) {
    .header_home__title {
        font-size: 19px;
    }
    .home-bottom-block-post__h2 a {
        font-size: 16px;
    }
    .home-two-post .home-two-post__item .home-two-post__title {
        font-size: 16px !important;
    }
}