@media (max-width: 1200px) {
    .witget-rating {
        width: 85px;
    }
    .menu-main-menu a {
        text-align: center;
        justify-content: center;
    }
    .sidebar-witget-nav__item {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .witget-top3__row {
        flex-direction: column;
    }
    .witget-top3__item:first-child {
        top: 0;
        order: 0;
        width: 100%;
        height: auto;
        margin: 8px 0;
    }
    .witget-top3__item {
        margin: 8px 0;
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    .witget-top3__item {
        justify-content: flex-start;
    }
    .witget-top3__block {
        text-align: left;
    }
    .witget-top3__img {
        overflow: hidden;
        width: 160px;
        min-width: 160px;
        max-width: initial;
        margin-right: 30px;
        min-height: auto;
        max-height: 70px;
        height: 70px;
    }
    .witget-top3__text {
        margin: 10px 0;
    }
    .witget-all__block {
        min-height: auto;
        align-items: normal;
        flex-wrap: wrap;
        margin-bottom: 22px;
    }
    .witget-all__block>div:first-child {
        border-right: 1px solid rgba(182, 180, 180, .3);
    }
    .witget-all__block>div {
        width: 50%;
        justify-content: center;
        border-bottom: 2px solid rgba(182, 180, 180, .3);
        padding-bottom: 12px;
        height: 110px;
    }
    .witget-all__info,
    .witget-all__read-more {
        display: none;
    }
    .witget-all__btn {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
    }
    .witget-all__link {
        display: block !important;
        width: 100%;
        text-align: center !important;
    }
    .witget-all__raiting {
        margin-right: 0 !important;
    }
}

@media (max-width: 991px) {
    header {
        height: 60px;
    }
    nav {
        top: 60px !important;
    }
    .home-page .sidebar-witget__title {
        font-size: 24px;
    }
    .single-review-title.header-fixed {
        top: 60px;
    }
    .single-review-title.header-fixed {
        height: auto;
        text-align: center;
        font-size: 20px;
        line-height: 36px;
        z-index: 9;
    }
    .header-fixed__btn {
        z-index: 9 !important;
    }
    .header-fixed__star {
        display: none;
    }
    .single-review-header__btn {
        margin-left: 0 !important;
    }
    .header-fixed__btn {
        top: 103px;
        width: 100%;
        border-radius: 0;
        text-align: center;
        left: 0;
    }
    .header-fixed__star {
        top: 152px;
    }
    .sub-menu {
        width: 100%;
        position: sticky;
    }
    nav {
        margin: 0;
        position: absolute;
        top: 95px;
        right: 0;
        background: #fff;
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
        width: 100%;
    }
    .menu-main-menu {
        flex-direction: column;
    }
    .menu-toggle {
        display: block;
    }
    .header-block {
        justify-content: space-between;
    }
    nav {
        display: none;
    }
    nav.active {
        display: block;
        overflow-y: scroll;
        max-height: 300px;
    }
    main>.container {
        flex-direction: column;
    }
    .main-content,
    .sidebar {
        width: 100%;
    }
    .home-one-post {
        height: 300px;
    }
    .main-content,
    .sidebar,
    .home-two-post__item {
        margin-bottom: 20px;
    }
    .home-bottom-block-post__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .home-bottom-block-post__item {
        flex-direction: column;
        width: calc(100% / 2 - 15px);
    }
    .home-two-post {
        margin-top: 30px;
    }
    .home-bottom-block-post__img,
    .home-bottom-block-post__img img {
        width: 100%;
    }
    .home-bottom-block-post__img {
        height: 150px;
        overflow: hidden;
    }
    .home-bottom-block-post__img img {
        object-fit: cover;
        object-position: center;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    .home-bottom-block-post__text {
        padding: 0;
    }
    .home-two-post__cat-row,
    .home-bottom-block-post__desc {
        display: none;
    }
    .home-bottom-block-post__h2 a {
        font-size: 20px;
    }
    .home-companies__title {
        font-size: 24px;
    }
    .home-form__title {
        font-size: 20px;
    }
    .home-form form {
        flex-direction: column;
    }
    .home-form form label {
        width: 100%;
        margin: 5px 0;
    }
    .home-form form input[type="submit"] {
        width: 100%;
        height: 40px;
        margin: 5px 0;
    }
    .footer__row {
        margin: 0;
        flex-wrap: wrap;
    }
    .footer__social-row {
        margin-top: 20px;
        width: 133px;
    }
    .footer__item {
        margin: 15px 0;
        width: calc(100% / 3);
        min-width: 190px;
    }
    .footer__item_post {
        width: 100%;
        max-width: 100%;
    }
    .home-form {
        margin-top: 20px;
    }
    .home-one-post__h1 {
        width: 100%;
        font-size: 24px;
    }
    .menu-toggle.active .menu-icon {
        width: 0;
    }
    .menu-toggle.active .menu-icon:before {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 0;
        left: -15px;
    }
    .menu-toggle.active .menu-icon:after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: 0;
        left: -15px;
    }
    li.menu-item-has-children:hover .sub-menu {
        display: none;
    }
    .sub-menu.active {
        display: block !important;
    }
    .archive-page-item {
        width: calc(100% / 2 - 30px);
    }
    .home-companies__item {
        width: calc(100% / 4);
    }
    .sidebar-latest-reviews__item {
        width: calc(100% / 2 - 15px);
        margin: 0;
        margin-bottom: 30px;
    }
    .sidebar-latest-reviews__row {
        margin: 0;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }
    .basicsRealEstate-image {
        height: 150px;
    }
}

@media (max-width: 767px) {
    .home-two-post {
        flex-direction: column;
    }
    .home-two-post__item {
        width: 100%;
    }
    .single-review-header {
        flex-direction: column;
    }
    .single-review-header>div {
        margin-bottom: 10px;
    }
    .single-rewiew-sidebar_main {
        flex-direction: column;
    }
    .single-rewiew-sidebar_main .single-rewiew-sidebar__btn {
        margin-top: 10px;
    }
    .single-review-form input[type="text"] {
        width: 100%;
    }
    .claim-ownership {
        flex-direction: column;
    }
    .claim-ownership__item {
        width: 100%;
    }
    .claim-ownership__item_btn {
        margin-top: 15px;
    }
    .home-companies__item {
        width: calc(100% / 2);
    }
    .footer__item:first-child {
        width: 100%;
    }
    .home-bottom-block-post__row {
        flex-direction: column;
    }
    .home-bottom-block-post__item {
        width: 100%;
    }
    .home-bottom-block-post__img {
        height: 200px;
    }
    .related-articles__item {
        width: calc(100% / 3);
    }
}

@media (max-width: 575px) {
    .sidebar-latest-reviews__row {
        margin: 0;
    }
    .sidebar-latest-reviews__row {
        flex-direction: column;
    }
    .sidebar-latest-reviews__item {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .archive-page-item {
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
    }
    .archive-page-row {
        margin: 0;
        margin-top: 35px;
    }
    .reviews-archive-item>div,
    .reviews-archive-item>a {
        width: auto;
    }
    .reviews-archive-item {
        padding: 0 15px;
    }
    .reviews-archive-item_img img {
        width: 70px;
        height: auto;
    }
    .reviews-archive-item__title {
        font-size: 14px;
        max-width: 150px;
        line-height: 1.2;
        margin-bottom: 10px;
    }
    .reviews-archive-item_title-star .rwp-rating-stars {
        zoom: 70%;
    }
    .home-companies__item {
        width: calc(100%);
    }
    .rwp-rating-stars {
        zoom: 70%;
    }
    .related-articles__item {
        width: calc(100% / 2);
    }
    .related-articles__row .related-articles__item:last-child {
        display: none;
    }
    .witget-top3__item {
        flex-direction: column;
        margin-right: 0;
    }
    .witget-top3__img {
        margin-right: 0;
    }
    .witget-top3__block {
        text-align: center;
    }
}
