*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

ul[class],
ol[class] {
    padding: 0
}

body,
h1,
h2,
h3,
h4,

/* p, */

ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    /* font-family: Montserrat; */
    color: #242424;
}

h1,
.archive-title {
    font-size: 44px;
    line-height: 48px;
}

ul[class],
ol[class] {
    list-style: none
}

a {
    color: #242424;
}

a:not([class]) {
    text-decoration-skip-ink: auto
}

img {
    max-width: 100%;
    display: block
}

input,
button,
textarea,
select {
    font: inherit
}

:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
    /* 1 - вертикальный скроллбар */
}

::-webkit-scrollbar-button {
    background: #ffffff;
    /* 2 - кнопка */
}

::-webkit-scrollbar-track {
    background: #ffffff;
    /* 3 - трек */
}

::-webkit-scrollbar-track-piece {
    background: #ebebeb;
    /* 4 – видимая часть трека */
}

::-webkit-scrollbar-thumb {
    background: #5ffaad;
    border-radius: 20px;
    /* 5 - ползунок */
}

@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-animation-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
        -webkit-transition-duration: 0.01ms !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .container {
        /* max-width: 1140px */
        max-width: 1166px;
    }
}

.menu-toggle {
    border: 0;
    background: rgba(0, 0, 0, 0);
    /* position: absolute; */
    right: 4px;
    top: 3px;
    height: 40px;
    min-width: 39px;
    cursor: pointer;
    display: none;
}

.menu-icon {
    width: 27px;
    display: inline-block;
    vertical-align: middle;
    height: 3px;
    background-color: rgb(33, 33, 33);
    line-height: 67px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    position: relative;
    border-radius: 5px;
}

.menu-icon:after,
.menu-icon:before {
    content: '';
    position: absolute;
    border-radius: 5px;
}

.menu-icon:before {
    width: 27px;
    top: -10px;
    left: 0;
    height: 3px;
    background-color: rgb(33, 33, 33);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.menu-icon:after {
    width: 27px;
    bottom: -10px;
    height: 3px;
    left: 0;
    background-color: rgb(33, 33, 33);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.5;
}

ul li {
    font-weight: 300;
}

.header-block {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu-main-menu {
    display: flex;
}

header {
    height: 95px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
    position: fixed;
    width: 100%;
    background: #fff;
    top: 0;
    z-index: 99;
}

.sub-menu {
    display: none;
    position: absolute;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 6px;
    font-size: 13px;
    background: #fff;
    z-index: 9;
}

.menu-main-menu a {
    color: #242424;
    font-family: "Poppins", Sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 13px 20px;
    display: block;
}

.menu-main-menu a:hover {
    color: #0eba7c;
}

nav {
    margin-left: 150px;
}

li.menu-item-has-children:hover .sub-menu {
    display: block;
}

.sub-menu a {
    padding: 13px 20px !important;
    display: block;
    border-bottom: 1px solid #f5f5f5;
}

.menu-item-has-children>a {
    display: flex;
    align-items: center;
}

.menu-item-has-children>a::after {
    content: '';
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-angle-down fa-w-10 fa-lg"><path fill="rgb(0, 0, 0)" d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z" class=""></path></svg>');
    display: flex;
    width: 10px;
    height: 15px;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.main-content {
    width: 67%;
}

.sidebar {
    width: 30%;
}

.sidebar-witget__title {
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 800;
}

.sidebar-witget-nav__row {
    display: flex;
    margin-bottom: 20px;
}

.sidebar-witget-nav__item {
    margin-right: 22px;
    font-size: 12px;
    font-weight: 300;
    font-family: "Poppins", Sans-serif;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidebar-witget-nav__item:hover,
.sidebar-witget-nav__item.tab.active {
    color: #0eba7c;
}

.sidebar-witget__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 80px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    text-decoration: none;
    padding: 0 5%;
    transition: 0.2s all;
}

.sidebar-witget__item:hover {
    transition: 0.2s all;
    box-shadow: 0 0 20px 10px rgba(36, 36, 36, 0.1);
}

.witget-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100px;
}

.witget-rating__number {
    font-size: 33px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.witget-rating::after {
    content: '';
    width: 1px;
    height: calc(100% - 40px);
    background-color: #e7e8ea;
    margin-left: 20px;
}

.witget-rating__title {
    font-size: 14px;
    width: 120px;
    text-align: center;
    line-height: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-witget__item::after {
    content: '';
    background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><g fill="none" fill-rule="evenodd"><rect width="40" height="40" fill="rgb(95 250 173)" rx="2"/><path fill="rgb(36 36 36)" fill-rule="nonzero" d="M20 10.48L30.02 20.5 20 30.52l-1.77-1.77 6.99-7.02H9.98v-2.46h15.24l-6.99-7.02z"/></g></svg>');
    width: 40px;
    height: 40px;
}

.witget-rating svg {
    margin-left: 5px;
}

body {
    padding-top: 110px;
}

.page-title {
    background: #cffde6;
    height: 200px;
    text-align: center;
    align-items: center;
    display: flex;
}


/* main {
    margin-top: 130px;
} */


/* main>.container {
    display: flex;
    justify-content: space-between;
} */

main.home-page>.container {
    display: flex;
    justify-content: space-between;
}

.home-one-post {
    height: 435px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-one-post>a {
    display: block;
    background-color: transparent;
    background-image: linear-gradient(180deg, rgb(12 12 12 / 50%) 0%, rgba(242, 41, 91, 0) 100%);
    height: 100%;
    text-decoration: none;
    padding: 15px 20px;
}

.home-one-post__h2 {
    color: #5ffaad;
    -webkit-animation: jump 1.5s ease 0s infinite normal;
    animation: jump 1.5s ease 0s infinite normal;
    font-weight: 800;
    letter-spacing: 0.21px;
}

@-webkit-keyframes jump {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.home-one-post__h1 {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.26px;
    line-height: 1.33;
    color: #fff;
    width: calc(100% - 80px);
    margin-top: 20px;
}

.home-one-post__autor-ava {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.home-one-post__autor-ava img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-one-post__autor-data {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #4affbe;
    line-height: 2.2;
    display: flex;
    margin-top: 10px;
}

.home-one-post .home-one-post__autor-data {
    margin-top: 20px;
}

.home-one-post__autor::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #4affbe;
    position: relative;
    top: -2px;
    margin: 0 10px;
}

.home-two-post {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.home-two-post__item {
    width: calc(50% - 15px);
}

.home-two-post__img {
    display: block;
    height: 200px;
    overflow: hidden;
    width: 100%;
}

.home-two-post__img img,
.home-bottom-block-post__img img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.home-two-post__cat-row {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.home-two-post__cat-item {
    text-decoration: none;
    border-radius: 12px;
    background-color: #cffde6;
    color: #0eba7c;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding: 3px 8px 4px 8px;
    font-weight: 300;
    transition: all 0.3s ease;
    margin-right: 5px;
    margin-bottom: 5px;
}

.home-two-post__cat-item:hover {
    background-color: #000;
    color: #fff;
}

.home-two-post__title {
    text-decoration: none;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.14px;
    text-transform: capitalize;
    margin-top: 5px;
    display: flex;
    transition: all 0.3s ease;
}

.home-two-post__item .home-one-post__autor-data,
.home-bottom-block-post__text .home-one-post__autor-data,
.sidebar-latest-reviews__item .home-one-post__autor-data,
.archive-page-item .home-one-post__autor-data,
.main-content.single .home-one-post__autor-data {
    color: #0eba7c;
    margin-top: 10px;
}

.home-two-post__item .home-one-post__autor::after,
.home-bottom-block-post__text .home-one-post__autor::after,
.sidebar-latest-reviews__item .home-one-post__autor::after,
.archive-page-item .home-one-post__autor::after,
.main-content.single .home-one-post__autor::after {
    background: #0eba7c;
}

.home-bottom-block-post {
    margin-top: 10px;
}

.home-bottom-block-post__img {
    display: block;
    width: 262px;
    min-width: 262px;
    height: 200px;
}

.home-bottom-block-post__img img {
    display: block;
    width: 262px;
    height: 200px;
}

.home-bottom-block-post__titile {
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-size: 30px;
    font-weight: 800;
    display: flex;
    align-items: center;
    padding: 35px 0;
}

.home-bottom-block-post__titile::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: #000;
    margin-left: 16px;
}

.home-bottom-block-post__item {
    display: flex;
    margin-bottom: 30px;
}

.home-bottom-block-post__text {
    padding-left: 30px;
}

.home-bottom-block-post__text .home-two-post__cat-row {
    margin-top: 0;
}

.home-bottom-block-post__h2,
.home-bottom-block-post__desc {
    margin-top: 10px;
}

.home-bottom-block-post__h2 a {
    display: block;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.21px;
    line-height: 1.25;
}

.home-bottom-block-post__h2 a:hover,
.home-two-post__title:hover {
    text-decoration: underline;
}

.home-bottom-block-post__img:hover,
.home-two-post__img:hover {
    border: 1px solid #000;
}

.home-companies__title {
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.home-companies__item a {
    text-decoration: none;
}

.home-companies__item a:hover {
    text-decoration: underline;
}

.home-companies__row {
    list-style-type: none !important;
    display: flex;
    flex-wrap: wrap;
    /* overflow: hidden;
    height: 297px; */
}

.home-companies__item a {
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
    padding: 20px;
    margin: 5px;
    display: block;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.home-companies__item a:hover {
    transition: 0.2s all;
    box-shadow: 0 0 20px 10px rgb(36 36 36 / 10%);
}

.home-companies__item a {
    font-family: 'Poppins', sans-serif;
}

.home-companies__row {
    margin-top: 20px !important;
}

.home-companies {
    padding-top: 20px;
}

.sidebar-witget__sub-title {
    color: #0EBA7C;
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.sidebar-witget__sub-title::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #0EBA7C;
    margin-left: 20px;
}

.sidebar-witget__sub-title span {
    display: block;
    white-space: nowrap;
}

.sidebar-latest-reviews__item {
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
    transition: 0.2s all;
    margin: 10px;
    position: relative;
    background: #fff;
}

.sidebar-latest-reviews__item:hover {
    transition: 0.2s all;
    box-shadow: 0 0 20px 10px rgba(36, 36, 36, 0.1);
}

.sidebar-latest-reviews__item {
    padding: 8px 10px;
}

.sidebar-latest-reviews__title {
    margin-bottom: 0px;
    font-style: normal;
    padding-bottom: 2px;
    white-space: initial;
    padding-top: 7px;
    font-size: 14px;
    color: #242424;
    height: 31px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.43;
    letter-spacing: -0.2px;
    font-weight: 600;
    border-bottom: 0px solid #f1f1f1;
}

.sidebar-latest-reviews__item .home-one-post__autor-data {
    margin-top: 0;
}

.home-one-post__text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.home-one-post__star {
    position: absolute;
    top: 9px;
    right: 15px;
    background: url(../img/stars4.png);
    width: 80px;
    height: 16px;
    background-size: 16px;
    background-position: 0 -16px;
}

.home-one-post__star div {
    background-position: 0 0;
    background-size: 16px;
    background-image: inherit;
    display: block;
    height: 16px;
}

.sidebar-witget {
    padding-bottom: 40px;
}

.home-form form p {
    display: flex;
    margin: 0;
    margin-top: 20px;
}

.home-form form label {
    width: 25%;
    margin: 0 5px;
}

.home-form form label span,
.home-form form label span input {
    width: 100%;
    height: 40px;
}

.home-form form input[type="submit"] {
    width: 25%;
    margin: 0 5px;
    background: #5ffaad;
    color: #242424;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 40px;
}

.home-form form input[type="submit"]:hover {
    background: #0b7cac;
    background-color: #0b7cac;
}

.home-form {
    margin-top: 100px;
}

.home-form__title {
    text-align: center;
}

.home-form form label span input {
    padding: 6px 12px;
}

footer {
    background: #242424;
    margin-top: 40px;
}

.footer__row {
    display: flex;
    margin: 0 -30px;
}

.footer__social-row {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.footer__social-row svg {
    width: 25px;
    height: 25px;
}

.footer__item {
    margin: 30px;
}

.footer__item-title {
    color: #5ffaad;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;
}

.footer__menu-row a {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    display: block;
    text-decoration: none;
    padding-bottom: 16px;
}

.footer__cat-row li {
    display: inline-block;
}

.footer__cat-row li a {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
    border: 1px solid white;
    margin: 0 10px 10px 0px;
    padding: 0 10px;
    border-radius: 12px;
    display: inline-block;
    line-height: 27px;
    text-decoration: none;
    display: inline-block;
}

.footer__cat-row li a:hover {
    border: 1px solid #5ffaad;
    color: #5ffaad;
}

.footer__cat-row li::marker {
    font-size: 0;
}

.footer__logo img {
    min-width: 140px;
    height: auto;
}

.footer__post-title {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.5;
    text-decoration: none;
}

.footer__item_post {
    min-width: 290px;
    max-width: 400px;
}

.footer__post-item {
    margin-bottom: 30px;
}

footer .home-one-post__autor-data {
    color: #0eba7c;
}

footer .home-one-post__autor::after {
    background: #0eba7c;
}

.single-rewiew-sidebar {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
    margin-bottom: 25px;
    padding: 10px 30px;
}

.single-rewiew-sidebar__logo {
    display: flex;
    justify-content: center;
}

.single-rewiew-sidebar__logo img {
    max-height: 60px;
}

.single-rewiew-sidebar__row {
    display: block;
    margin-top: 20px !important;
}

.single-rewiew-sidebar__item {
    font-weight: 400;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    margin: 8px 0;
}

.single-rewiew-sidebar__item::before {
    content: '';
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-check fa-w-16 fa-2x"><path fill="rgb(95 250 173)" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" class=""></path></svg>');
    width: 13px;
    height: 13px;
    display: inline-block;
    margin-right: 10px;
}

.single-rewiew-sidebar__btn {
    text-decoration: none;
    font-weight: 600;
    color: #000000;
    background-color: #FFCB40;
    border-radius: 6px 6px 6px 6px;
    padding: 15px 15px 15px 15px;
    font-size: 15px;
    line-height: 1;
    display: block;
    width: calc(100% - 40px);
    margin: 10px auto;
    text-align: center;
}

.single-review-title {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.26px;
    line-height: 1.33;
    border-bottom: 1px solid #242424;
    padding-bottom: 20px;
    background: #fff;
    z-index: 9;
}

.single-review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #242424;
    padding: 15px 0;
}

.single-review-header__score,
.single-review-header__votes {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    color: #242424;
}

.single-review-header__star .rwp-rating-stars {
    background-image: url(/wp-content/themes/realestatesinvestment/assets/img/stars4.png);
    width: 120px;
    height: 24px;
    background-size: 24px;
    background-position: 0 -24px;
}

.single-review-header__star .rwp-rating-stars div {
    background-position: 0 0;
    background-size: 24px;
    background-image: inherit;
    display: block;
    height: 24px;
}

.single-review-header__btn {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.14px;
    text-decoration: none;
    background: #242424;
    color: #fff;
    line-height: 36px;
    border-radius: 20px;
}

.single-review-header__btn::before {
    content: '';
    display: inline-block;
    width: 20px;
    /* width: 10px;
    height: 10px;
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="globe-asia" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" class="svg-inline--fa fa-globe-asia fa-w-16 fa-2x"><path fill="currentColor" d="M403.31 322.49l-11.91-11.91a8.008 8.008 0 0 1-2.34-5.66V292c0-2.21-1.79-4-4-4H379c-1.78 0-3.35 1.18-3.84 2.88l-4.2 14.47a3.996 3.996 0 0 1-3.84 2.88h-3.8a3.99 3.99 0 0 1-3.69-2.46l-5.35-12.85a8.003 8.003 0 0 0-7.39-4.93H334.8c-1.66 0-3.29.52-4.64 1.48l-23.71 16.89a26.355 26.355 0 0 1-5.59 3.05l-39.34 15.74a7.996 7.996 0 0 0-5.03 7.43v10.21c0 2.12.84 4.16 2.34 5.66l11.91 11.91c3 3 7.07 4.69 11.31 4.69h10.34c1.31 0 2.61-.16 3.88-.48l21.27-5.32c9.12-2.28 18.77.39 25.42 7.04l13.01 13.01c3 3 7.07 4.69 11.31 4.69h15.16c4.24 0 8.31-1.69 11.31-4.69l9.57-9.57c3-3 4.69-7.07 4.69-11.31V333.8c-.01-4.24-1.7-8.31-4.7-11.31zM248 8C111.04 8 0 119.03 0 256s111.04 248 248 248 248-111.03 248-248S384.96 8 248 8zm0 448c-99.37 0-181.8-72.91-197.19-168h62.57c4.24 0 8.31-1.69 11.31-4.69l19.47-19.46c3.86-3.86 10.37-2.8 12.81 2.08l22.62 45.23c2.71 5.42 8.25 8.85 14.31 8.85h6.1c8.84 0 16-7.16 16-16v-9.37c0-4.24-1.69-8.31-4.69-11.31l-5.66-5.66c-3.12-3.12-3.12-8.19 0-11.31l5.66-5.66c3-3 7.07-4.69 11.31-4.69h.31c5.62 0 10.83-2.95 13.72-7.77l17.37-28.95c1.8-3 6.2-2.83 7.76.3a7.996 7.996 0 0 0 7.15 4.42H272c4.42 0 8-3.58 8-8V137.9c0-6.06-3.42-11.6-8.84-14.31l-10.83-5.41c-5.49-2.75-5.97-10.4-.86-13.81l50.16-38.53C389.83 91.88 448 167.23 448 256c0 110.28-89.72 200-200 200z" class=""></path></svg>');
    width: 15px;
    height: 15px;
    margin-right: 5px;
    top: 2px;
    position: relative;
    background-repeat: no-repeat; */
}

.single-review-header__btn::after {
    content: '';
    display: inline-block;
    width: 20px;
    /* width: 8px;
    height: 12px;
    position: relative;
    top: 1px;
    margin-left: 5px;
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-right fa-w-10 fa-2x"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" class=""></path></svg>');
    background-repeat: no-repeat; */
}

.single-rewiew-sidebar_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.single-rewiew-sidebar_main .single-rewiew-sidebar__btn {
    width: auto;
    margin: 0;
    height: max-content;
}

.single-review-form {
    background-color: #DDDBDD;
    padding: 35px 30px;
    margin-top: 50px;
    border-top: 200px solid transparent;
    margin-top: -100px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.single-review-form input {
    width: 100%;
    margin-bottom: 13px;
    border: none;
    height: 48px;
    padding: 10px 15px;
}

.single-review-form input[type="text"] {
    width: calc(50% - 8px);
}

.single-review-form label:first-child input {
    margin-right: 10px;
}

.single-review-form input[type="submit"] {
    background: #5FFAAD;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.single-review-form__title {
    margin-bottom: 10px !important;
}

.claim-ownership {
    background-color: #DDDBDD;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
    padding: 30px 20px;
    margin-top: 50px;
    border-radius: 4px;
    display: flex;
}

.claim-ownership__title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.21px;
    line-height: 1.25;
}

.claim-ownership__item {
    width: 50%;
}

.claim-ownership__item_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.claim-ownership__btn {
    text-decoration: none;
    font-weight: 600;
    fill: #000000;
    color: #000000;
    background-color: #FFCB40;
    border-radius: 6px;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
}

.single-review-title.header-fixed {
    position: fixed;
    background: #fff;
    top: 94px;
    height: 70px;
    line-height: 65px;
    border-bottom: none;
    width: 100%;
    left: 0;
    z-index: 98;
}

.archive-page__title {
    max-width: 490px;
    margin: auto;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.26px;
    line-height: 1.33;
    text-align: center;
}

.archive-page-desc {
    margin-top: 20px;
    text-align: center;
}

.archive-page-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin-top: 35px;
}

.archive-page-item {
    width: calc(100% / 2 - 30px);
    margin: 15px;
}

.archive-page-item__img {
    display: block;
    height: 160px;
    overflow: hidden;
}

.archive-page-item__img img,
.single-review-header__logo img {
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}


/*comments*/

.com_block_star {
    margin: 10px 0;
}

.comments-rating {
    border: none;
    padding: 0;
    margin-left: 0;
}

.comments-rating label {
    display: inline-block;
    font-size: 18px;
}

.rating-container {
    font-size: 0;
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating-container>input {
    display: none;
}

.rating-container>input+label {
    font-family: 'dashicons';
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    white-space: nowrap;
    cursor: pointer;
    margin: 0;
}

.rating-container>label {
    background-image: url(../img/starsempty.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: -10px -20px;
    width: 10px;
    height: 20px;
}

.rating-container>label:nth-of-type(even) {
    background-position: 0 -20px;
}

.rating-container>label:last-child {
    background: none;
}

.rating-container>label:hover {
    background-position: -10px 0;
}

.rating-container>label:nth-of-type(even):hover {
    background-position: 0 0;
}

.rating-container:hover>label:hover~label,
.rating-container>input:checked~label {
    background-position: -10px 0;
}

.rating-container>label:hover~label:nth-of-type(even),
.rating-container>input:checked~label:nth-of-type(even) {
    background-position: 0 0;
}

.com_star span {
    background-image: url(../img/stars4.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 0 0;
    width: 8px;
    height: 16px;
    display: inline-block;
}

.com_star span:nth-of-type(even) {
    background-position: -8px 0;
}

.single-review-header__star span {
    background-image: url(../img/stars4.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 0 0;
    width: 12px;
    height: 24px;
    display: inline-block;
}

.single-review-header__star span:nth-of-type(even) {
    background-position: -12px 0;
}


/* end comments */

.reviews-archive-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 5%);
    border-bottom: 1px solid #e5e5e5;
    margin: 30px 0;
    height: 120px;
    padding: 10px 30px;
}

.reviews-archive-item>div,
.reviews-archive-item>a {
    width: 33%;
}

.reviews-archive-item_title-star {
    width: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.reviews-archive-item__title {
    text-decoration: none;
}

.reviews-archive-item__title:hover {
    text-decoration: underline;
}

.reviews-archive-item_img {
    width: 200px;
}

.reviews-archive-item_img img {
    min-width: 113px;
    height: auto;
}

.reviews-archive-item_link-a {
    display: inline-block;
    line-height: 0;
    float: right;
}

.single-content-img {
    margin-top: 20px;
    height: 300px;
    overflow: hidden;
}

.single-content-img img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.main-content.single a {
    word-break: break-word;
}

.main-content.single img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.related-articles__row {
    display: flex;
    flex-wrap: wrap;
    margin: 15px -10px;
}

.related-articles__item {
    width: calc(100% / 5);
    padding: 0 10px;
    padding-bottom: 20px;
}

.related-articles__item a {
    display: block;
    text-decoration: none;
    line-height: 1.2;
    font-weight: 600;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}

.related-articles__item img {
    border-radius: 10px;
}

.related-articles__item-title {
    margin-top: 10px;
    height: auto !important;
    font-size: 14px;
}

main.no-url {
    text-align: center;
    margin-bottom: 50px;
}

main.no-url img {
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 50px;
}

.basicsRealEstate-image {
    height: 130px;
    overflow: hidden;
    display: block;
}

.basicsRealEstate-image img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.basicsRealEstate-title {
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
    font-weight: 600;
    line-height: 22px;
}

.slick-arrow {
    border: none;
    font-size: 0;
    height: 30px;
    width: 18px;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    cursor: pointer;
}

.slick-prev {
    left: -15px;
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-left fa-w-10 fa-2x"><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z" class=""></path></svg>');
}

.slick-next {
    right: -15px;
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-right fa-w-10 fa-2x"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" class=""></path></svg>');
}

.lastReviewsSlider {
    margin-top: 50px;
}

.home-companies__row.active {
    height: auto;
}

.home-companies__read-more {
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
    color: #0eba7c;
}

.home-companies__read-more:hover {
    text-decoration: underline;
}


/* .lastReviewsSlider .slick-track,
.reviewsFullPage .slick-track {
    display: flex;
} */

.lastReviewsSlider .slick-slide,
.reviewsFullPage .slick-slide {
    display: flex;
    height: auto;
    flex-direction: column;
    min-height: 178px;
}

.showMoreText {
    display: none;
}

.showMoreText.active {
    display: block;
    margin: 5px 0;
    cursor: pointer;
    font-style: italic;
}

.sidebar-latest-reviews__row {
    margin: 0 -10px;
}

.review_form_list {
    max-width: 100% !important;
    width: 100%;
}

.sidebar-latest-reviews__row .slick-arrow {
    margin: 0;
    top: 85px;
}

.reviewsFullPage {
    background: #9cefc6;
    padding: 40px 0;
    margin-top: 50px;
}

.container.fullPageReviews {
    display: block;
}

#article {
    height: auto;
    float: left;
}

.fullPageReviews .sidebar {
    /* margin-left: 796px; */
    float: right;
}

#aside1 {
    display: block;
    /* margin-left: 796px; */
    float: right;
}

.sticky {
    position: fixed;
    z-index: 101;
}

.footer-text {
    font-size: 14px;
    color: #fff;
}

.footer__item_pages {
    min-width: 150px;
}

.bottom-menu-footer__row {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ccc;
}

.bottom-menu-footer__item {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    margin: 5px 15px;
    display: block;
}

.bottom-menu-footer__item:hover,
.footer__menu-row a:hover {
    color: #5ffaad;
}

.home-companies__item {
    width: calc(100% / 6);
    height: 138px;
    margin-bottom: 10px;
}

.home-companies__item img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    object-fit: contain;
    object-position: center;
}

.home-companies__item-img {
    height: 60px;
}

.home-companies__item-title {
    line-height: 1.3;
    font-weight: 600;
    font-size: 14px;
}

.title-page {
    line-height: 1.3;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 800;
}

.sticky {
    position: fixed;
    z-index: 90;
}

.stop {
    position: relative;
    z-index: 90;
}

.header-fixed__btn,
.header-fixed__star {
    top: 112px;
    position: fixed;
    z-index: 99;
}

.main-content-single {
    margin-top: 20px;
}

.witget-all__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% !important;
}

.witget-all__block>div {
    display: flex;
    align-items: center;
}

.witget-all__img-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.witget-all__info {
    margin-left: 30px;
    margin-right: 20px;
    min-width: 218px;
    max-width: 250px;
}

.witget-all__star_row {
    margin-top: 10px;
}

.reviews-archive-item {
    height: auto;
}

.witget-all__title {
    font-size: 16px;
    font-weight: 600
}

.witget-all__img img {
    width: 100%;
    height: auto;
    max-width: 96px;
    max-height: 60px;
    object-fit: contain;
}

.witget-all__img {
    width: 96px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
}

.list-features-row__item {
    margin-top: 12px;
    position: relative;
    padding-left: 15px;
    font-size: 14px;
    color: #777;
}

.list-features-row__item::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 12px;
    margin-right: 12px;
    border: solid #00d26a;
    border-width: 0 1px 1px 0;
    transform: rotate( 45deg);
    position: absolute;
    top: 5px;
    left: 0;
}

.witget-all__raiting span {
    font-size: 33px;
    line-height: 40px;
    display: block;
    font-weight: 600;
}

.witget-all__raiting {
    position: relative;
    text-align: center;
    margin-right: 40px;
    width: max-content;
    width: 85px;
}

.witget-all__link {
    background: #5ffaad;
    font-weight: 600;
    padding: 0;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
}


/* .witget-all__link::after {
    content: '';
    background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><g fill="none" fill-rule="evenodd"><rect width="40" height="40" fill="rgb(95 250 173)" rx="2"/><path fill="rgb(36 36 36)" fill-rule="nonzero" d="M20 10.48L30.02 20.5 20 30.52l-1.77-1.77 6.99-7.02H9.98v-2.46h15.24l-6.99-7.02z"/></g></svg>');
    width: 40px;
    height: 40px;
    display: inline-block;
} */

.witget-all__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.witget-all__read-more {
    margin-top: 15px;
    text-decoration: none;
}

.witget-all__read-more::after {
    content: '>';
    margin-left: 5px;
}

.witget-top3__row {
    display: flex;
}

.witget-top3__item {
    padding: 25px;
    width: 378px;
    border: 1px solid rgb(36 36 36);
    text-decoration: none;
    position: relative;
    height: 204px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.witget-top3__item:nth-child(1) {
    box-shadow: 0px 0px 12px 0px rgb(95 250 173);
    border: 1px solid rgb(95 250 173);
}

.witget-top3__item:nth-child(2) {
    box-shadow: 0px 0px 12px 0px rgb(255 203 64);
    border: 1px solid rgb(255 203 64);
}

.witget-top3__item:nth-child(3) {
    order: 3;
    box-shadow: 0px 0px 12px 0px rgb(109 169 245);
    border: 1px solid rgb(92, 172, 255);
}

.witget-top3__img {
    max-width: 96px;
    max-height: 60px;
    min-width: 200px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.witget-top3__item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.witget-top3__item:first-child {
    width: 382px;
    height: 250px;
    order: 1;
    margin: 0px -1px 0px;
    z-index: 2;
    top: -25px;
}

.witget-top3__link {
    font-weight: 600;
    font-size: 15px;
}

.witget-top3__link::after {
    content: '>';
    margin-left: 5px;
}

.witget-top3__text {
    font-size: 15px;
    line-height: 20px;
}

.witget-top3__raiting {
    position: absolute;
    top: 0;
    right: 0;
}

.witget-top3__raiting:before {
    content: "";
    display: block;
    width: 60px;
    height: 35px;
    background-color: #5ffaad;
}

.witget-top3__raiting span {
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #000;
    display: block;
    width: min-content;
    font-size: 20px;
    font-weight: 600;
}

.witget-top3__item:nth-child(2) .witget-top3__raiting:before {
    background-color: rgb(255 203 64);
}

.witget-top3__item:nth-child(3) .witget-top3__raiting:before {
    background-color: rgb(92, 172, 255);
}

.witget-top3__title {
    font-weight: 600;
    font-size: 24px;
}

.witget-all__item {
    position: relative;
}

.all-brend-reviews a {
    background: #5ffaad;
    color: #242424;
}

.all-brend-reviews a:hover {
    background: #242424;
    color: #5ffaad;
}

.b-top {
    z-index: 26;
    position: fixed;
    left: 0;
    bottom: 100px;
    cursor: pointer;
    margin-left: calc(95% - 40px);
}

#more {
    display: none;
}

.show-more-btn {
    cursor: pointer;
}

.cookies-popup {
    position: fixed;
    bottom: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 320px;
    color: #fff;
    font-size: 14px;
    line-height: 1.37;
    padding: 15px 20px;
    border-radius: 5px;
}

.cookies-popup a {
    color: #fff;
}

.cookies-popup__btn {
    margin-top: 10px;
    float: right;
    display: inline-block;
    color: rgb(110, 168, 231);
    font-weight: 500;
    cursor: pointer;
}

.cookies-popup__btn:hover {
    text-decoration: underline;
}
