*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
ul[class],
ol[class] {
    padding: 0
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0
}
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
ul[class],
ol[class] {
    list-style: none
}
a:not([class]) {
    text-decoration-skip-ink: auto
}
img {
    max-width: 100%;
    display: block
}
input,
button,
textarea,
select {
    font: inherit
}
@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-animation-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
        -webkit-transition-duration: 0.01ms !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important
    }
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
@media (min-width: 576px) {
    .container {
        max-width: 540px
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1166px;
    }
}
.menu-toggle {
    border: 0;
    background: rgba(0, 0, 0, 0);
    right: 4px;
    top: 3px;
    height: 40px;
    min-width: 39px;
    cursor: pointer;
    margin-top: 10px;
    display: none;
}
.menu-toggle.active .menu-icon {
    width: 0;
}
.menu-icon:after,
.menu-icon:before {
    content: '';
    position: absolute;
    border-radius: 5px;
}
.menu-toggle.active .menu-icon:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
    left: -15px;
}
.menu-icon:before {
    width: 27px;
    top: -10px;
    left: 0;
    height: 3px;
    background-color: rgb(33, 33, 33);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.menu-toggle.active .menu-icon:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 0;
    left: -15px;
}
.menu-icon:after {
    width: 27px;
    bottom: -10px;
    height: 3px;
    left: 0;
    background-color: rgb(33, 33, 33);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.menu-icon {
    width: 27px;
    display: inline-block;
    vertical-align: middle;
    height: 3px;
    background-color: rgb(33, 33, 33);
    line-height: 67px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    position: relative;
    border-radius: 5px;
}
.menu-toggle {
    display: none;
}
header {
    -webkit-box-shadow: 0px 2px 4px 0px rgba(19, 10, 143, 0.12);
    -moz-box-shadow: 0px 2px 4px 0px rgba(19, 10, 143, 0.12);
    box-shadow: 0px 2px 4px 0px rgba(19, 10, 143, 0.12);
    position: relative;
}
.header-block {
    background: linear-gradient(180deg, rgba(119, 186, 255, 1) 0%, rgba(208, 231, 255, 1) 100%);
}
.header-block>.container {
    overflow: hidden;
    min-height: 280px;
}
header>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 80px
}
header>div>div,
header>div>nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
nav a {
    text-decoration: none;
    color: #000;
    /* font-size: 18px; */
    font-size: 16px;
    font-weight: 500;
}
nav a:hover {
    color: rgb(18, 10, 143);
}
nav .nav__row>li>a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding-right: 18px;
}
.nav__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%
}
.nav__row>li>a {
    padding: 0 24px
}
.sub-menu {
    display: none;
    background: #fff;
    position: absolute;
    right: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    top: 70px;
    -webkit-transition: opacity 0.15s linear, right 0s 0.15s, -webkit-transform 0.15s linear;
    transition: opacity 0.15s linear, right 0s 0.15s, -webkit-transform 0.15s linear;
    transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
    transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s, -webkit-transform 0.15s linear;
    -webkit-transform: translateY(0.6rem);
    transform: translateY(0.6rem);
    right: 9999rem;
    border: 1px solid #120a8f;
    border-radius: 20px;
}
.nav__row>li.menu-item-has-children:hover>a::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 18px;
    border: 20px solid transparent;
    border-bottom: 10px solid #120a8f;
}
.nav__row>li.menu-item-has-children:hover>a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 9px;
    left: 0;
    right: 0;
    margin: auto;
    width: 18px;
    border: 20px solid transparent;
    border-bottom: 10px solid #fff;
    z-index: 10;
}
.sub-menu li a {
    margin-left: 0;
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 3px 30px;
    position: relative;
}
ul.sub-menu>li>a:hover::after {
    content: '';
    display: inline-block;
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-angle-down fa-w-10 fa-lg"><path fill="rgb(0, 0, 0)" d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z" class=""></path></svg>');
    background-repeat: no-repeat;
    width: 13px;
    height: 20px;
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
}
ul.sub-menu>li.sub-menu-btn-all-cat>a:hover::after {
    display: none;
}
.witget-top10__block {
    width: 200px;
    margin: 20px;
}
li.menu-item-has-children {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
li.menu-item-has-children .sub-menu {
    flex-wrap: wrap;
    max-width: 1136px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 0.15s linear, -webkit-transform 0.15s linear;
    transition: opacity 0.15s linear, -webkit-transform 0.15s linear;
    transition: opacity 0.15s linear, transform 0.15s linear;
    transition: opacity 0.15s linear, transform 0.15s linear, -webkit-transform 0.15s linear;
    z-index: 9;
    padding-top: 20px;
    padding-bottom: 0;
}
li.sub-menu-btn.menu-item-has-children>.sub-menu {
    padding-bottom: 0;
}
li.menu-item-has-children:hover .sub-menu {
    left: -76px;
    display: block;
}
li.menu-item-has-children:hover .sub-menu.has-sub-menu-caption {
    display: flex;
}
.sub-menu-center .has-sub-menu-caption {
    display: flex;
}
a.logo {
    display: flex;
    align-items: center;
    min-width: 165px;
}
.logo img {
    max-width: 166px;
    max-height: 36px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header_home {
    width: 100%;
    position: relative;
    padding: 33px 0;
    display: flex;
}
.header_home__animate-icon {
    width: 50%;
    position: absolute;
    right: -115px;
    top: -24px;
}
.hh-block {
    box-shadow: 0px 0px 12px 0px rgba(5, 0, 87, 0.12);
}
.header_home__block {
    width: 65%;
}
.header_home__title {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Sarabun', sans-serif;
    color: rgb(18, 10, 143);
    line-height: 36px;
    margin: 0;
    margin-bottom: 8px;
}
.header_home__text {
    line-height: 24px;
    font-size: 16px;
    color: rgb(33, 33, 33);
    font-weight: 200;
}
.header_home__text p {
    margin-bottom: 0;
}
.header_home__global-disclosure {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    line-height: 48px;
    color: rgb(18, 10, 143);
    font-size: 14px;
    font-weight: 400;
}
.header_home__referal::after {
    content: '|';
    position: relative;
    right: 0;
    display: inline-block;
    margin: 0 7px;
}
.header_home__disclosure {
    cursor: pointer;
}
.header_home__disclosure:hover {
    text-decoration: underline;
}
.header_home__referal-disclosure {
    display: flex;
    justify-content: space-between;
}
.header_home__last-updated-sep span {
    text-transform: capitalize;
}
footer {
    background-color: rgb(18, 10, 143);
    color: #fff;
    font-size: 14px;
    padding: 40px 0;
    margin-top: 32px;
}
.single-reviews-images_full_rewiews {
    margin-top: 32px;
}
.footer-top,
.footer-bottm {
    display: flex;
}
.footer-top {
    border-bottom: 1px solid rgb(151, 151, 151);
    padding-bottom: 14px;
}
.footer-left {
    width: 254px;
}
.footer-right {
    width: 841px;
    padding-left: 40px
}
.footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-menu-top,
.footer-menu-bottom {
    display: flex;
    flex-direction: column;
}
.footer-menu-top li a,
.footer-menu-bottom li a {
    font-size: 18px;
    color: #fff;
    line-height: 18px;
    text-decoration: none;
    font-weight: 500;
    margin: 10px 0;
    display: block;
}
.footer-menu-top li a:hover,
.footer-menu-bottom li a:hover {
    text-decoration: underline;
}
.footer-menu>li:hover a {
    text-decoration: underline
}
.footer-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 15px
}
.copyright {
    margin-top: 31px
}
.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    margin-bottom: 80px;
}
.content_home {
    margin-top: 14px;
}
#primary {
    width: 100%;
    padding-top: 24px;
}
#secondary {
    width: 25%
}
.sidebar {
    width: 312px;
    margin-left: 824px;
}
.sidebar_block {
    display: flex;
    flex-direction: column;
}
.witget-top3 {
    margin-top: 30px;
}
.witget-top3 h2,
.witget-all__h2,
.sidebar-witget-article__title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 29px;
    margin-bottom: 22px;
    line-height: 40px;
    font-family: 'Sarabun', sans-serif;
    color: #000;
}
.witget-all__h2 {
    margin-top: 0;
}
.witget-top3__row {
    display: flex;
}
.witget-top3__item {
    padding: 50px 29px 40px 44px;
    width: 378px;
    border: 1px solid rgb(92, 172, 255);
    text-decoration: none;
    position: relative;
    height: 204px;
    background: #fff;
}
.witget-top3__item:nth-child(2) {
    border-radius: 24px 0 0 24px;
}
.witget-top3__item:nth-child(3) {
    order: 3;
    border-radius: 0 24px 24px 0;
}
.witget-top3__item:nth-child(3) ::before {
    border-radius: 0 23px 0 24px;
}
.witget-top3__link {
    color: rgb(33, 33, 33);
    position: absolute;
    bottom: 20px;
    right: 30px;
    line-height: 16px;
    font-weight: 600;
    cursor: pointer;
}
.witget-top3__link::after,
.witget-article__linck::after,
.top-5-witget-article__links-reviews::after {
    content: '';
    background: url(//bestwebsiteaccessibility.com/wp-content/themes/sobix2/assets/css/../img/baseline_trending.png);
    width: 15px;
    height: 13px;
    display: inline-block;
    background-size: cover;
    margin-left: 6px;
}
.witget-top3__text {
    color: #333;
    font-size: 15px;
    padding: 12px 0 0 0;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 200;
}
.witget-top3__item:hover .witget-top3__link {
    color: rgb(18, 10, 143);
}
.witget-top3__raiting {
    position: absolute;
    top: 0;
    right: 0;
}
.witget-top3__raiting:before {
    content: "";
    display: block;
    width: 64px;
    height: 64px;
    background-color: #ffd264;
    border-radius: 0 0 0 24px;
}
.witget-top3__row .witget-top3__raiting:last-child::before {
    border-radius: 0 23px 0 24px;
}
.witget-top3__item:first-child {
    width: 382px;
    height: 224px;
    order: 1;
    margin: 0px -1px 0px;
    z-index: 2;
    border-radius: 0 0 24px 24px;
    padding: 50px 63px 45px 40px;
}
.witget-top3__item:first-child .witget-top3__link {
    bottom: 30px;
}
.witget-top3__raiting span {
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #000;
    display: block;
    width: min-content;
    font-size: 28px;
    font-weight: 700;
    font-family: 'Sarabun', sans-serif;
}
.witget-top3__img {
    max-width: 96px;
    max-height: 60px;
    min-width: 96px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.witget-top3__item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.witget-all__item {
    border: 2px solid rgba(182, 180, 180, .30);
    padding: 20px 28px 20px 24px;
    position: relative;
    margin-bottom: 18px;
    border-radius: 12px;
}
.witget-all__item:nth-child(1) {
    box-shadow: 0px 0px 12px 0px rgb(255, 151, 37);
    border: 1px solid rgb(255, 151, 37);
}
.witget-all__item:nth-child(2) {
    box-shadow: 0px 0px 12px 0px rgb(109 169 245 / 50%);
    border: 1px solid rgb(92, 172, 255);
}
.witget-all__item:nth-child(1):hover {
    background: rgb(255 151 37 / 20%);
}
.witget-all__item:nth-child(2):hover {
    background: rgb(109 169 245 / 20%);
}
.ribbon-top {
    position: absolute;
    left: -21px;
    top: -1px;
    width: 176px;
    height: 36px;
    font-size: 20px;
    font-family: 'Sarabun', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #ff9725;
    border-bottom-right-radius: 15px;
}
.ribbon-top::before {
    content: '';
    display: block;
    border: 7px solid transparent;
    border-top: 3px solid #e0e0e0;
    border-right: 13px solid #e0e0e0;
    position: absolute;
    top: 36px;
}
.witget-all__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 130px;
}
.witget-all__block>div {
    display: flex;
    align-items: center;
}
.expandable {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: opacity 700ms ease, visability 700ms ease, max-height 700ms ease;
    -moz-transition: opacity 700ms ease, visability 700ms ease, max-height 700ms ease;
    -ms-transition: opacity 700ms ease, visability 700ms ease, max-height 700ms ease;
    -o-transition: opacity 700ms ease, visability 700ms ease, max-height 700ms ease;
}
.expandable.active {
    max-height: 600px;
}
.expandable-row {
    display: flex;
    justify-content: space-between;
}
.expandable-row__title {
    color: #54585a;
    font-weight: bold;
    line-height: 21px;
    font-size: 14px;
    position: relative;
    padding: 6px 0;
}
.expandable-row__list-features {
    margin: 0 0 0 20px !important;
}
.expandable-row__list-features li {
    list-style-type: disc;
    line-height: 19px;
    font-size: 14px;
    color: #676b6d;
}
.expandable-row__title:first-child::before {
    left: 4px;
    height: 1px;
    background: #d8d8d8;
    width: 193px;
    position: absolute;
    bottom: 0;
    content: "";
}
.expandable-row__img {
    text-align: center;
}
.expandable-row__img img {
    border: 1px solid #d8d8d8;
}
.expandable__link {
    text-decoration: none;
    line-height: 21px;
    font-size: 15px;
    color: #038eb9;
    font-weight: 700;
    display: block;
    margin-top: 5px;
}
.expandable__link:hover {
    color: #000;
}
.expandable-row__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}
.witget-all__more-info {
    position: absolute;
    bottom: 5px;
    right: 18px;
    color: #0076ff;
    font-weight: 300;
    font-size: 13px;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
    padding-left: 10px;
}
.witget-all__more-info::before {
    content: '\0002B';
    font-size: 23px;
    font-family: "Open Sans", sans-serif;
    color: #0076ff;
    position: absolute;
    top: 3px;
    right: 64px;
    transition: none;
    line-height: 12px;
}
.witget-all__more-info.active::before {
    content: '\0005F';
    top: -7px;
    font-size: 20px;
}
.witget-all__img-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.witget-all__img {
    width: 96px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.witget-all__img img {
    width: 100%;
    height: auto;
    max-width: 96px;
    max-height: 60px;
    object-fit: contain;
}
.witget-all__info {
    min-width: 218px;
    margin-left: 48px;
}
.witget-all__title {
    font-size: 16px;
    font-weight: 500;
}
.witget-all__list-features-row {
    color: #212121;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    margin-top: 12px;
}
.list-features-row__item {
    margin-top: 12px;
    position: relative;
    padding-left: 15px;
}
.list-features-row__item::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 12px;
    margin-right: 12px;
    border: solid #5cacff;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    left: 0;
}
.list-features-row__item_cross {
    position: relative;
    padding-left: 15px;
}
.list-features-row__item_cross::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    margin-right: 12px;
    transform: rotate(45deg);
    background: #5cacff;
    position: absolute;
    top: 5px;
    left: 0;
}
.list-features-row__item_cross::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    margin-right: 12px;
    transform: rotate(-45deg);
    background: #5cacff;
    position: absolute;
    top: 5px;
    left: 0;
}
.witget-all__read-more {
    font-size: 16px;
    line-height: 16px;
    color: rgb(18, 10, 143);
    font-weight: 500;
    margin-top: 12px;
    text-decoration: none;
    display: block;
}
.witget-all__read-more::after {
    content: '>';
    margin-left: 5px;
}
.witget-all__link {
    background: #ff9725;
    border-radius: 8px;
    width: 144px;
    min-height: 48px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 16px;
    padding: 16px 0;
    font-weight: 600;
    text-align: center;
}
.bb-bubble-rts {
    display: none;
    position: absolute;
    /* top: -85px; */
    top: -90px;
    right: 0;
    left: -14px;
    width: 168px;
    /* height: 70px; */
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    border: 1px solid rgb(92, 172, 255);
    border-radius: 10px;
    background-color: #fff;
    padding: 17px 5px;
    z-index: 2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.bb-bubble-rts::before {
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 11px solid #5cacff;
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
    margin: auto;
    width: 12px;
}
.bb-bubble-rts::after {
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 10px;
}
.baseline_trending_withe {
    background: url(//bestwebsiteaccessibility.com/wp-content/themes/sobix2/assets/css/../img/baseline_trending_withe.png);
    width: 17px;
    height: 19px;
    display: inline-block;
    background-size: cover;
    position: relative;
    top: -1px;
    margin-left: 8px;
}
.single-reviews-castom-row__btn-visit .baseline_trending_withe {
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    margin: auto;
}
.bb-bubble-rts {
    animation-name: bb-bubble-rts;
    animation-timing-function: linear;
}
@keyframes bb-bubble-rts {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
.witget-all__btn {
    position: relative;
}
.witget-all__raiting {
    position: relative;
    text-align: center;
    margin-right: 48px;
    width: max-content;
}
.witget-all__link:hover {
    background: rgb(18, 10, 143);
}
.witget-all__raiting span {
    font-size: 34px;
    font-family: 'Sarabun', sans-serif;
    line-height: 40px;
    display: block;
    color: rgb(18, 10, 143);
    font-weight: 700;
}
.witget-all__raiting__desc {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 19px;
}
.tlt-icon {
    position: absolute;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    color: rgba(0, 0, 0, .44);
    font-size: 9px;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .44);
}
.tlt-wrap {
    display: none;
    width: 306px;
    font-size: 11px;
    line-height: 16px;
    color: #3b4149;
    padding: 8px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.37);
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.37);
    position: absolute;
    text-align: left;
    z-index: 9;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, 100%);
}
.witget-all__raiting.open .tlt-wrap {
    display: block;
}
.tlt-arrow {
    top: calc(-1 * 12px);
    left: calc(50% - 12px / 2);
    height: 12px;
    width: 20px;
    overflow: hidden;
    position: absolute;
}
.tlt-arrow:before {
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    background-color: #fff;
    transform: rotate(45deg);
    margin-top: 5px;
    -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.37);
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.37);
}
.tlt-close {
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
}
.footer-menu li {
    margin: 0 10px;
    margin-bottom: 7px;
}
span.wpcr_averageStars,
span.wpcr_averageStars span {
    display: block;
    background: url(//bestwebsiteaccessibility.com/wp-content/themes/sobix2/assets/css/../img/star.png) 0 -17px repeat-x;
    width: 111px;
    height: 15px;
}
span.wpcr_averageStars span {
    background-position: 0 0;
}
.witget-all__star_row {
    margin-top: 16px;
}
.witget-all__list-features-row {
    margin-top: 10px;
    margin-left: 8px;
}
.full-page-bg {
    padding-top: 24px;
}
.arсhive-rewiews .witget-all__list-features-row {
    margin-left: 0;
}
.arсhive-rewiews .rewiews__text {
    line-height: 24px;
    color: rgb(33, 33, 33);
}
.arсhive-rewiews .witget-all__info {
    max-width: 584px;
}
.arсhive-rewiews .witget-all__item:first-child::before {
    display: none;
}
.single-page-bg main.reviews {}
main.archive-article {
    padding-right: 20px;
}
.full-page-content-item table,
.full-page-content-item table tr,
.full-page-content-item table td {
    border-width: 1px;
}
.full-page-content-item {
    margin-bottom: 0;
    word-wrap: break-word;
    padding-top: 70px;
    margin-top: -70px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}
.full-page-content-item__img {
    margin-bottom: 32px;
}
.full-page-content-item__img img {
    width: 100%;
    height: auto;
    border-radius: 24px;
}
.full-page-content-item__title {
    color: rgb(18, 10, 143);
    font-size: 30px;
    line-height: 40px;
    font-family: 'Sarabun', sans-serif;
    margin-bottom: 12px;
}
.full-page-content-item__content {
    font-size: 16px;
    line-height: 24px;
    color: rgb(33, 33, 33);
    font-weight: 200;
    overflow: auto;
}
.full-page__title {
    font-size: 36px;
    line-height: 36px;
    color: rgb(18, 10, 143);
    font-weight: 800;
    font-family: 'Sarabun', sans-serif;
    margin: 0;
}
.full-page__top-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.full-page__autor-info {
    display: flex;
    padding-top: 15px;
    font-size: 14px;
    line-height: 14px;
    color: rgb(33, 33, 33);
    font-weight: 400;
}
.full-page__autor-info span {
    margin: 0 15px;
}
.single-reviews-info {
    box-shadow: 0 0 12px 0 rgba(5, 0, 87, 0.12);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 30px 42px;
    margin-top: 32px;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background: #fff;
}
.site-main.reviews {
    position: relative;
}
.single-reviews-info__img {
    width: 120px;
    height: 60px;
    display: flex;
    align-items: center;
}
.single-reviews-info__img img {
    width: auto;
    height: auto;
    max-width: 120px;
    max-height: 60px;
}
.single-reviews-info .witget-all__star_row {
    margin: 0;
}
.single-reviews-info .witget-all__link {
    text-transform: uppercase;
    font-weight: 500;
}
.single-reviews-info .witget-all__raiting__desc {
    margin-top: 8px;
}
.single-reviews-scoring__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -20px;
    margin-top: 16px;
}
.single-reviews-scoring__item {
    display: flex;
    position: relative;
    margin: 16px 0;
    flex: 1 1 50%;
    padding: 0 20px;
}
.single-reviews-scoring__raiting {
    background-color: rgb(92, 172, 255);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 45px;
    color: #fff;
    font-weight: 600;
    font-family: 'Sarabun', sans-serif;
    text-align: center;
    z-index: 1;
}
.single-reviews-scoring__title {
    background-color: rgba(208, 231, 255, 0.24);
    position: absolute;
    left: 25px;
    padding-left: 50px;
    border-radius: 0 24px 24px 0;
    width: calc(100% - 45px);
    height: 100%;
    font-size: 20px;
    color: #000;
    font-family: 'Sarabun', sans-serif;
    font-weight: 600;
    line-height: 46px;
}
.single-reviews-info span.wpcr_averageStars,
.single-reviews-info span.wpcr_averageStars span {
    background: url(//bestwebsiteaccessibility.com/wp-content/themes/sobix2/assets/css/../img/large-stars.png) 0 -20px repeat-x;
    width: 141px;
    height: 20px;
}
.single-reviews-info span.wpcr_averageStars span {
    background-position: 0 0;
}
.single-reviews-castom-row {
    padding: 32px 48px;
    background-color: rgba(208, 231, 255, 0.24);
    border-radius: 24px;
}
.single-page-bg {
    margin-top: 32px;
}
.sidebar-full-page {
    min-width: 352px;
    margin-left: 782px;
}
.reviews-info-sidebar {
    background-color: #fff;
    border: 1px solid #d5d5d5;
    padding: 30px 15px 15px;
    margin-bottom: 25px;
}
.reviews-info-sidebar__logo {
    display: flex;
    justify-content: center;
}
.reviews-info-sidebar__rating-row {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin: 20px 0;
}
.reviews-info-sidebar__rating-row>div {
    width: 50%;
}
.reviews-info-sidebar__rating-number {
    font-family: Arial;
    font-weight: inherit;
    font-size: 40px;
    color: inherit;
    font-style: inherit;
    line-height: 1;
    text-align: center;
    border-right: dashed 1px #ccc;
}
.reviews-info-sidebar .witget-all__star_row {
    margin-top: 0;
    display: flex;
    justify-content: center;
}
.reviews-info-sidebar__rating-number span {
    font-family: arial;
    font-size: 12px;
    color: #000;
    text-align: center;
    display: block;
}
.reviews-info-sidebar__link {
    display: block;
    font-size: 20px;
    font-weight: 500;
    height: 38px;
    text-decoration: none;
    border-radius: 11px;
    box-shadow: 0 3px 1px #c59a00;
    color: #000;
    background-color: #ffc801;
    text-align: center;
    font-family: Arial;
    padding-top: 3px;
}
.top-5-witget__row {
    padding-bottom: 16px;
}
.top-5-witget__title {
    color: rgb(18, 10, 143);
    font-weight: 800;
    font-family: 'Sarabun', sans-serif;
    font-size: 24px;
    line-height: 28px;
    margin-top: 7px;
    margin-bottom: 32px;
}
.top-5-witget__item {
    background: #fff;
    border: 2px solid rgba(182, 180, 180, .28);
    margin-top: 2px;
    /* height: 120px; */
    padding: 27px 18px;
    border-radius: 8px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.top-5-witget__item>div {
    align-items: center;
}
.top-5-witget__img-star {
    flex-direction: column;
}
.top-5-witget__img-star .witget-all__star_row {
    margin-top: 12px;
}
.top-5-witget__img {
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
}
.top-5-witget__img-star span.wpcr_averageStars,
.top-5-witget__img-star span.wpcr_averageStars span,
.check__item span.wpcr_averageStars,
.check__item span.wpcr_averageStars span {
    background: url(//bestwebsiteaccessibility.com/wp-content/themes/sobix2/assets/css/../img/small-stars.png) 0 -12px repeat-x;
    height: 12px;
    width: 85px;
}
.top-5-witget__img-star span.wpcr_averageStars span,
.check__item span.wpcr_averageStars span {
    background-position: 0 0;
}
.top-5-witget__rating {
    flex-direction: column;
    width: 96px;
    position: relative;
}
.top-5-witget__number {
    font-size: 34px;
    line-height: 38px;
    font-family: 'Sarabun', sans-serif;
    font-weight: 700;
    color: rgb(18, 10, 143);
    text-align: center;
}
.top-5-witget__rating span {
    display: block;
    font-size: 14px;
    color: rgb(33, 33, 33);
    font-weight: 400;
    margin-top: 8px;
    line-height: 18px;
    text-align: center;
}
.top-5-witget__links {
    flex-direction: column;
}
.top-5-witget__links-reviews {
    color: #1695a3;
    font-size: 14px;
    line-height: 14px;
    margin-top: 7px;
    color: #000;
    font-weight: 500;
    display: block;
}
.top-5-witget__links-reviews:hover {
    text-decoration: underline;
}
.top-5-witget__links>a {
    text-decoration: none;
}
.top-5-witget .tlt-icon {
    top: 3px;
    right: 10px;
}
.top-5-witget__rating.open .tlt-wrap {
    display: block;
}
.top-5-witget-article__item {
    border-bottom: 1px solid rgb(214, 214, 214);
    padding-bottom: 25px;
    margin-bottom: 30px;
}
.top-5-witget-article__img {
    width: 352px;
    height: 120px;
    display: block;
}
.top-5-witget-article__img img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.sidebar-witget-article__item .top-5-witget-article__img {
    width: 312px;
    height: 120px;
    margin: 10px 0;
}
.top-5-witget-article__title {
    margin-top: 12px;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Sarabun', sans-serif;
    font-weight: 600;
    color: rgb(18, 10, 143);
}
.top-5-witget-article {
    max-width: 352px;
}
.top-5-witget-article__links-reviews {
    line-height: 16px;
    text-decoration: none;
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
    display: block;
}
.breadcrumbs {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
}
.breadcrumbs a {
    text-decoration: none;
    color: #000;
}
.breadcrumbs a:hover {
    text-decoration: underline;
}
.archive-title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 24px;
    margin-bottom: 10px;
    color: rgb(18, 10, 143);
    font-family: 'Sarabun', sans-serif;
    font-weight: 800;
}
.archive-descption {
    color: rgb(33, 33, 33);
    line-height: 24px;
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 30px;
}
.archive-descption span {
    color: rgb(18, 10, 143);
    font-weight: 500;
    text-decoration: underline;
}
.top-5-witget__links-visit {
    background-color: rgb(255, 151, 37);
    width: 104px;
    height: 40px;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    padding: 0 5px;
    cursor: pointer;
}
.top-5-witget__links-visit:hover {
    background-color: rgb(18 10 143);
}
body.single-reviews .top-5-witget__links-visit {
    background-color: rgb(18 10 143);
}
body.single-reviews .top-5-witget__links-visit:hover {
    background-color: rgb(255, 151, 37);
}
.reviews-content__item {
    display: flex;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px 0;
}
.article-content__item {
    display: flex;
    background-color: #fff;
    border: 2px solid rgba(182, 180, 180, .30);
    border-radius: 12px;
    margin-bottom: 10px;
    padding: 20px;
    position: relative;
}
.article-content__item.article-content__item_no-img {
    flex-direction: column;
}
.article-content__item.article-content__item_no-img .article-content__text {
    margin-left: 0;
}
.article-content__item.article-content__item_no-img .article-content__date {
    margin-top: 0;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.article-content__item.article-content__item_no-img .article-content__img {
    max-width: 0;
    min-width: 0;
}
.reviews-content__img {
    min-width: 190px;
}
.article-content__img {
    max-width: 240px;
    min-width: 240px;
}
.article-content__img img {
    border-radius: 5px;
}
.reviews-content__link-visit {
    min-width: 195px;
}
.reviews-content__item>div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.reviews-content__text {
    flex-direction: column;
    align-items: flex-start !important;
    margin: 0;
}
.article-content__text {
    margin-left: 20px;
    position: relative;
}
.reviews-content__title {
    color: #21538d;
    font-size: 22px;
    font-weight: 400;
}
.article-content__title {
    color: #4d6daf;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    top: -3px;
}
.article-content__date {
    font-size: 14px;
    color: #555;
    margin-top: 15px;
}
.reviews-content__content {
    font-size: 14px;
    color: #494949;
    line-height: 21px;
    margin-bottom: 3px;
}
.article-content__content {
    color: #494949;
    font-size: 15px;
    font-weight: inherit;
    line-height: 1.5em;
    min-height: 20px;
}
.reviews-content__content p {
    margin: 0;
}
.reviews-content__link {
    text-decoration: none;
    color: #21538d;
    font-size: 15px;
}
.reviews-content__link:hover {
    text-decoration: underline;
}
.article-content__link {
    color: #000;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    left: 0;
    bottom: 0;
}
.reviews-content__link-visit a {
    color: #373737;
    border-radius: 10px/11px !important;
    background-color: #ffc801;
    width: 170px;
    height: 40px;
    box-shadow: 0 3px 1px #c59a00;
    font-family: Arial;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    padding-top: 3px;
}
.archive-article__title {
    font-weight: normal;
    color: #4d6daf;
    line-height: 30px;
}
.article-date-single-page {
    text-align: right;
}
main.article .full-page__autor-info {
    padding-top: 0;
    margin-top: 32px;
}
.witget-article__title {
    text-decoration: none;
    color: rgb(12, 10, 143);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    display: block;
}
.witget-article__title:hover {
    text-decoration: underline;
}
.witget-article__linck {
    text-decoration: none;
    color: rgb(33, 33, 33);
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    display: block;
    margin-top: 12px;
}
.witget-article__content p {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    margin-top: 20px;
    line-height: 22px;
}
.witget-article__content {
    line-height: 24px;
    font-size: 16px;
    font-weight: 200;
    margin-top: 8px;
    color: rgb(33, 33, 33);
}
.sidebar-witget-article__item {
    padding-bottom: 15px;
    margin-bottom: 26px;
}
.sidebar-witget-article__item {
    border-bottom: 1px solid #d3d3d3;
}
.error-404 {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
}
.main__error-404 {
    text-align: center;
    position: absolute;
    top: 10%;
}
.main__error-404 img {
    display: block;
    margin: 0 auto;
}
.btn_404 {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    line-height: 35px;
    margin: 27px auto;
    width: 189px;
    height: 39px;
    background-color: #2b3135;
    border-radius: 15px;
    text-decoration: none;
    display: block;
    margin-bottom: 50px;
}
.popap-bg {
    display: none;
}
.popap-bg.active {
    display: block;
}
.popap-bg>.container {
    position: relative;
}
.popap-bg::before {
    content: '';
    width: 100%;
    display: block;
    background: rgb(0 0 0 / .6);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
.advertiser-disclosure-text {
    width: 450px;
    position: absolute;
    right: 75px;
    background: #fff;
    z-index: 999;
    padding: 30px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-top: 20px;
}
.advertiser-disclosure-text::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    border: 9px solid transparent;
    border-bottom-color: #f1f1f1;
    right: 15px;
}
.advertiser-close {
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    width: 28px;
    height: 24px;
}
.advertiser-close::before {
    content: '';
    height: 3px;
    width: 21px;
    background: #000;
    display: inline-block;
    position: relative;
    top: -9px;
}
.advertiser-close::after {
    content: '';
    height: 21px;
    width: 3px;
    background: #000;
    display: inline-block;
    left: -12px;
    position: relative;
}
.breadcrumbs-disclosure {
    display: flex;
    justify-content: space-between;
    padding: 0 2px;
}
.disclosure-all-page {
    font-weight: 400;
    color: #1780c3;
    font-size: 14px;
    text-decoration: underline;
    text-align: right;
    line-height: 18px;
}
.disclosure-all-page:hover {
    text-decoration: none;
}
#true_loadmore {
    float: right;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #333;
    position: relative;
    right: 5px;
    top: -10px;
    cursor: pointer;
}
#true_loadmore:hover {
    text-decoration: underline;
}
.full-page-pros__item {
    padding-left: 4px;
    margin-bottom: 12px;
    line-height: 24px;
}
.full-page-pros__item::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 11px;
    margin-right: 12px;
    border: solid #5cacff;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    position: relative;
    top: -2px;
    left: -1px;
}
.full-page-cons__item {
    margin-bottom: 12px;
    line-height: 24px;
}
.full-page-cons__item::before {
    display: inline-block;
    margin-right: 12px;
    position: relative;
    top: 4px;
    left: -1px;
    content: "\00D7";
    font-size: 25px;
    color: #5cacff;
}
.single-reviews-castom-row__btn-visit {
    background: #ff9725;
    border-radius: 8px;
    max-width: 352px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 16px;
    padding: 16px 20px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    text-align: center;
}
.single-reviews-castom-row__btn-visit:hover {
    background: rgb(18, 10, 143);
}
.single-reviews-final {
    margin-top: 32px;
}
.single-reviews-final h2,
.single-reviews-final h3,
.single-reviews-final h4,
.single-reviews-final h5,
.single-reviews-final h6,
main.article h2,
main.article h3,
main.article h4,
main.article h5,
main.article h6 {
    font-family: 'Sarabun', sans-serif;
    color: rgb(18, 10, 143);
    margin-bottom: 12px;
}
.single-reviews-final h2 {
    font-size: 30px;
    line-height: 40px;
}
main.article h2 {
    font-size: 26px;
    line-height: 30px;
    margin: 0;
}
.single-reviews-final h3,
main.article h3 {
    font-size: 24px;
    line-height: 28px;
}
.single-reviews-final h4,
main.article h4,
main.article h5 {
    font-size: 20px;
    line-height: 24px;
}
.about-author_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-author__title {
    font-size: 20px;
    line-height: 24px;
    color: rgb(18, 10, 143);
    font-family: 'Sarabun', sans-serif;
    font-weight: 600;
    white-space: nowrap;
}
.about-author__line {
    width: 100%;
    background-color: rgb(18, 10, 143);
    height: 1px;
    margin-left: 27px;
    position: relative;
    top: 1px;
}
.about-author__ligo-row {
    display: flex;
    margin-top: 16px;
}
.about-author__text-row {
    width: 100%;
    padding-left: 40px;
}
.about-author__ligo {
    width: 58px;
    height: 58px;
}
.about-author__text-title {
    font-size: 20px;
    line-height: 24px;
    color: #000;
    font-weight: 600;
}
.about-author__text-content {
    font-size: 14px;
    line-height: 18px;
    color: rgb(33, 33, 33, .44);
    font-weight: 400;
    margin-top: 12px;
}
.mobile-menu-children::after {
    content: '';
    display: inline-block;
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-angle-down fa-w-10 fa-lg"><path fill="rgb(0, 0, 0)" d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z" class=""></path></svg>');
    background-repeat: no-repeat;
    width: 11px;
    height: 18px;
    z-index: 4;
}
.mobile-menu-children {
    display: flex;
    align-items: center;
    position: absolute;
    right: -7px;
    top: 3px;
    bottom: 0;
    cursor: pointer;
}
.btn-visit-site {
    background: #ff9725;
    border-radius: 8px;
    max-width: 352px;
    height: 48px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 16px;
    padding: 16px 0;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 500;
}
.btn-visit-site:hover {
    background: rgb(18, 10, 143);
}
.about_us_repiter_item {
    padding: 50px 0;
}
.about_us_repiter_item__container {
    display: flex;
    margin-top: 24px;
}
.about-repiter__title {
    font-size: 36px;
    line-height: 36px;
    color: rgb(18, 10, 143);
    font-weight: 800;
    font-family: 'Sarabun', sans-serif;
    margin: 0;
}
.about-repiter__img {
    margin-left: 50px;
    min-width: 350px;
    max-width: 350px;
}
.about_us_repiter_item:nth-child(even) .about-repiter__img {
    order: -1;
    margin-left: 0;
    margin-right: 50px;
}
.about_us_repiter_item .about-repiter__img {
    order: -1;
    margin-right: 0;
    margin-bottom: 30px;
}
.about-repiter__title_bottom {
    font-size: 36px;
    line-height: 36px;
    color: rgb(18, 10, 143);
    font-weight: 800;
    font-family: 'Sarabun', sans-serif;
    margin: 0;
}
.about-repiter__content_bottom {
    margin-top: 24px;
}
.about-repiter_bottom-content {
    padding: 20px 15px;
}
.sub-menu>li>.sub-menu {
    position: sticky;
    display: block;
    padding-left: 15px;
    padding-top: 3px;
    padding-right: 10px;
    padding-bottom: 0;
    width: auto;
    border: none;
}
.sub-menu>li>.sub-menu li a {
    padding: 3px 0;
    margin: 8px 0;
    position: relative;
    left: 0;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    line-height: 18px;
    width: auto;
    transition: all .2s ease-in-out;
    padding-right: 10px;
}
.sub-menu>li>.sub-menu li a:hover {
    transform: translate(-10px, 0);
}
.sub-menu>li>.sub-menu li a:hover::after {
    content: '';
    display: inline-block;
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-angle-down fa-w-10 fa-lg"><path fill="rgb(0, 0, 0)" d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z" class=""></path></svg>');
    background-repeat: no-repeat;
    width: 13px;
    height: 20px;
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
li.menu-item-has-children {
    flex-direction: column;
}
.sub-menu li.menu-item-has-children a {
    font-weight: 600;
    padding: 0;
    position: relative;
    top: -15px;
    font-size: 18px;
    color: #120a8f;
    background-color: #fff;
    padding-left: 5px;
    padding-right: 15px;
    left: 10px;
    width: max-content;
}
.sub-menu li.menu-item-has-children a:hover::after {
    display: none;
}
.sub-menu li.menu-item-has-children>a::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
}
.sub-menu li.menu-item-has-children.title-popular>a::before {
    background: url(//bestwebsiteaccessibility.com/wp-content/themes/sobix2/assets/css/../img/invalid-name_9.png) no-repeat 50% 50%;
}
.sub-menu li.menu-item-has-children.title-location>a::before {
    background: url(//bestwebsiteaccessibility.com/wp-content/themes/sobix2/assets/css/../img/invalid-name_8.png) no-repeat 50% 50%;
}
.sub-menu li.menu-item-has-children.title-platforms>a::before {
    background: url(//bestwebsiteaccessibility.com/wp-content/themes/sobix2/assets/css/../img/invalid-name_7.png) no-repeat 50% 50%;
}
.sub-menu li.menu-item-has-children.title-testing>a::before {
    background: url(//bestwebsiteaccessibility.com/wp-content/themes/sobix2/assets/css/../img/invalid-name_6.png) no-repeat 50% 50%;
}
.sub-menu li.menu-item-has-children.title-compliance>a::before {
    background: url(//bestwebsiteaccessibility.com/wp-content/themes/sobix2/assets/css/../img/invalid-name_5.png) no-repeat 50% 50%;
}
.sub-menu li.menu-item-has-children.title-industry>a::before {
    background: url(//bestwebsiteaccessibility.com/wp-content/themes/sobix2/assets/css/../img/invalid-name_4.png) no-repeat 50% 50%;
}
.sub-menu li.menu-item-has-children.title-free>a::before {
    background: url(//bestwebsiteaccessibility.com/wp-content/themes/sobix2/assets/css/../img/invalid-name_12.png) no-repeat 50% 50%;
}
.sub-menu li.menu-item-has-children.title-comparison>a::before {
    background: url(//bestwebsiteaccessibility.com/wp-content/themes/sobix2/assets/css/../img/invalid-name_10.png) no-repeat 50% 50%;
}
.sub-menu>li>.sub-menu a {
    font-weight: 300;
    margin-bottom: 0;
}
.sub-menu>li>.sub-menu li:hover {
    background: rgba(255, 255, 255, 0.15);
}
.sub-menu.has-sub-menu-caption {
    display: flex;
    padding-top: 10px !important;
}
li.best-solutions:hover .sub-menu.has-sub-menu-caption {
    left: -143px;
    justify-content: space-between;
    width: 890px;
}
li.sub-menu-reviews:hover .sub-menu.has-sub-menu-caption {
    left: -410px;
}
.sub-menu.has-sub-menu-caption>li.menu-item-has-children {
    padding-bottom: 0;
    width: 254px;
    border: 1px solid rgb(92, 172, 255);
    border-radius: 0 16px 16px 16px;
    margin: 20px;
}
.sub-menu.has-sub-menu-caption>li.menu-item-has-children .sub-menu::after {
    display: none;
}
main#article {
    width: 752px;
}
#article {
    display: block;
    float: left;
    width: 774px;
    height: 1000px;
    background: #fff;
}
#aside1 {
    display: block;
}
#article {
    height: auto;
}
.sticky {
    position: fixed;
    z-index: 101;
}
.stop {
    position: relative;
    z-index: 101;
}
.nav-content ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(182, 180, 180, .28);
    border-radius: 8px;
    background: #fff;
    width: 752px;
}
.nav-content a {
    display: block;
    text-decoration: none;
    padding: 15px 10px;
    color: #000;
    font-weight: 500;
}
.nav-content a:hover,
.nav-content a.active {
    background: #ff9725;
    color: #fff;
}
.nav-content.fixed {
    position: fixed;
    top: 59px;
    z-index: 9;
}
.nav-content.fixed ul {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.menu-item-has-children .description {
    font-size: 14px;
    color: rgb(92, 172, 255);
    position: relative;
    top: -13px;
    left: 15px;
    font-weight: 400;
}
li.sub-menu-btn-all-cat {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}
li.sub-menu-btn-all-cat>a {
    display: block;
    font-size: 18px;
    line-height: 18px;
    color: rgb(18, 10, 143);
    font-weight: 300;
    padding: 15px 5px;
    text-align: center;
    border-top: 1px solid rgba(92, 172, 255, 0.48);
    font-weight: 500;
}
.popup-exit {
    width: 800px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 9999;
    height: max-content;
    display: none;
}
.popup-exit__cont {
    display: flex;
    align-items: center;
    padding: 30px;
}
.popup-exit-cont__img-bg {
    width: 400px;
}
.popup-exit-cont__img-logo-brend img {
    margin: 0 auto;
}
.popup-exit-cont__text {
    text-align: center;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
}
.popup-exit__logo img {
    width: 100px;
}
.popup-exit__top {
    background: #12b3df;
    ;
    position: relative;
}
.popup-exit__logo {
    position: absolute;
    right: 30px;
    top: 14px;
}
.popup-exit__title {
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
.popup-exit-cont__img-bg {
    margin-top: 20px;
}
.popup-exit-cont__sale {
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
}
.popup-exit-cont__sale-desc {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 40px;
}
.popup-exit-cont__btn {
    text-decoration: none;
    background: #14c7f8;
    width: 100%;
    display: block;
    color: #fff;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    font-weight: 500;
    font-size: 22px;
    margin-top: 50px;
}
.popup-exit-cont_right {
    margin-left: 50px;
    text-align: center;
}
.popup-exit__bg {
    content: '';
    display: block;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9998;
    display: none;
}
.popup-exit.active,
.popup-exit__bg.active {
    display: block;
}
.footer-left__social {
    display: flex;
    margin-top: 6px;
}
.footer-left__social a {
    display: block;
    line-height: 0;
    margin-right: 20px;
}
.footer-left__social a svg {
    width: 20px;
    height: 25px;
    color: #eee;
}
.footer-left__social a:hover svg {
    color: #95bcff;
}
.footer-bottm {
    margin-top: 30px;
}
.footer-bottm .footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-bottm__item_menu {
    display: flex;
    justify-content: space-between;
    min-width: 430px;
}
.footer-text {
    padding-right: 150px;
}
.single-reviews-info.fixed {
    position: fixed;
    top: 0;
    width: 752px;
    height: 60px;
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 42px;
    z-index: 9;
}
.single-reviews-info.fixed .single-reviews-info__img {
    width: 78px;
    height: auto;
    padding: 0;
    margin-bottom: 0;
}
.single-reviews-info.fixed .single-reviews-info__img img {
    max-height: 46px;
}
.single-reviews-info.fixed .witget-all__raiting__desc {
    margin-top: 0;
}
.single-reviews-info.fixed .witget-all__link {
    /* line-height: 40px; */
    height: 40px;
    padding: 0 15px;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
}
.single-reviews-castom-row_verdict {
    padding-top: 30px;
    margin-top: 15px;
}
.bestsolution-cat__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.bestsolution-cat__item {
    width: calc(50% - 30px);
    margin: 25px 15px;
    border: 1px solid rgb(92, 172, 255);
    border-radius: 8px;
    padding: 15px;
    position: relative;
}
.bestsolution-cat__title {
    position: absolute;
    top: -20px;
    background: #fff;
    padding: 0 15px;
    left: 16px;
}
.bestsolution-cat__desc {
    color: rgb(92, 172, 255);
    margin-top: 5px;
    font-weight: 400;
}
/* ul.bestsolution-cat__all-bloks {
    margin-top: 20px;
} */
.bestsolution-cat__all-bloks a {
    text-decoration: none;
    color: #000;
    font-weight: 300;
    margin: 15px 0;
    display: block;
}
.bestsolution-cat__all-bloks a:hover {
    text-decoration: underline;
}
.bestsolution-cat__all-bloks li {
    display: flex;
    align-items: center;
}
.bestsolution-cat__all-bloks li::before {
    content: '>';
    width: 20px;
    min-width: 20px;
    height: 20px;
    background: rgb(18 10 143);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    line-height: 21px;
}
.footer-expert__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(151, 151, 151);
    padding-bottom: 40px;
}
.footer-expert__img img {
    width: 75px;
}
.footer-expert__item {
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.footer-expert__name {
    margin-left: 20px;
}
.footer-expert__name-famely {
    font-weight: 500;
}
.footer-expert__name-prof {
    color: #b1d7ff;
    font-weight: 300;
}
.footer-expert__title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    border-bottom: 1px solid rgb(151, 151, 151);
}
.component__read-more {
    display: none;
}
.component.active {
    display: block;
    height: auto;
}
.contact-us form {
    width: 35%;
}
.contact-us-form label {
    width: 100%;
}
.contact-us form label {
    font-weight: 500;
    margin-bottom: 20px;
    display: block;
}
.contact-us-form label input {
    width: 100%;
}
.contact-us form input[type="submit"] {
    border: none;
    background: #120a8f;
    color: #fff;
    font-weight: 400;
    padding: 5px 40px;
}
.contact-us form textarea {
    height: 150px;
}
.filter-sidebar {
    width: 250px;
    min-width: 250px;
    margin-right: 30px;
}
.filter-list__check,
.sort-list {
    display: none;
    padding: 0 10px !important;
    padding-bottom: 20px !important;
}
.filter-list__check.active,
.sort-list.active {
    display: block;
}
.filter-list__title,
.sort-block__title,
.filter-list__block {
    cursor: pointer;
    font-weight: 400;
    padding: 20px 15px;
    position: relative;
}
.filter-list {
    background: #f4f4f4;
}
.filter-list__item,
.filter-list__block,
.sort-block {
    border-bottom: 1px dotted #ddd;
}
.filter-list__title::after,
.sort-block__title::after {
    content: '';
    display: inline-block;
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-angle-down fa-w-10 fa-lg"><path fill="rgb(255 151 37)" d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z" class=""></path></svg>');
    background-repeat: no-repeat;
    width: 13px;
    height: 21px;
    z-index: 4;
    position: absolute;
    right: 16px;
    margin-top: 2px;
    transition: .3s;
}
.filter-list__title.active::after,
.sort-block__title.active::after {
    transform: rotate(180deg);
}
.cat-list_item {
    width: 16px;
    height: 16px;
    margin: 2px 8px 2px 0;
    position: relative;
    top: 2px;
}
.filter-list__check label {
    display: block;
    cursor: pointer;
    padding: 4px 0 4px 3px;
}
.filter-list__check label:hover,
.sort-list-item:hover {
    background: rgba(0, 0, 0, .04);
}
.sort-block {
    background: #f4f4f4;
}
.sort-list-item {
    padding: 10px 0 10px 10px;
    cursor: pointer;
    line-height: 1.2;
    font-size: 15px;
}
.sort-list-item.active {
    background: rgb(255, 151, 37);
    color: #fff;
    font-weight: 500;
}
.sort-block__title {
    position: relative;
}
.filter-list__block {
    background: #f4f4f4;
    font-weight: 600;
}
.sort-block__title {
    font-weight: 600;
}
.clear-sort::before {
    content: '';
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="recycle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-recycle fa-w-16 fa-2x"><path fill="rgb(107 106 107)" d="M184.561 261.903c3.232 13.997-12.123 24.635-24.068 17.168l-40.736-25.455-50.867 81.402C55.606 356.273 70.96 384 96.012 384H148c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12H96.115c-75.334 0-121.302-83.048-81.408-146.88l50.822-81.388-40.725-25.448c-12.081-7.547-8.966-25.961 4.879-29.158l110.237-25.45c8.611-1.988 17.201 3.381 19.189 11.99l25.452 110.237zm98.561-182.915l41.289 66.076-40.74 25.457c-12.051 7.528-9 25.953 4.879 29.158l110.237 25.45c8.672 1.999 17.215-3.438 19.189-11.99l25.45-110.237c3.197-13.844-11.99-24.719-24.068-17.168l-40.687 25.424-41.263-66.082c-37.521-60.033-125.209-60.171-162.816 0l-17.963 28.766c-3.51 5.62-1.8 13.021 3.82 16.533l33.919 21.195c5.62 3.512 13.024 1.803 16.536-3.817l17.961-28.743c12.712-20.341 41.973-19.676 54.257-.022zM497.288 301.12l-27.515-44.065c-3.511-5.623-10.916-7.334-16.538-3.821l-33.861 21.159c-5.62 3.512-7.33 10.915-3.818 16.536l27.564 44.112c13.257 21.211-2.057 48.96-27.136 48.96H320V336.02c0-14.213-17.242-21.383-27.313-11.313l-80 79.981c-6.249 6.248-6.249 16.379 0 22.627l80 79.989C302.689 517.308 320 510.3 320 495.989V448h95.88c75.274 0 121.335-82.997 81.408-146.88z" class=""></path></svg>');
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 7px;
    position: relative;
    top: 2px;
}
.clear-sort {
    padding: 10px 15px;
    cursor: pointer;
}
.comparison-main {
    display: flex;
}
.project-tiles {
    display: flex;
    width: calc(100% - 166px);
}
.project-tiles__item {
    width: calc(100% / 5) !important;
    min-width: 138px;
}
.project-tiles__info {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    border-radius: 3px;
    margin: 0 5px;
    margin-top: 5px;
    position: sticky;
    top: 0;
    /* comparison desc and mobile*/
    background: #fff;
    z-index: 1;
}
.project-tiles__logo {
    padding: 5px 10px;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.project-tiles__logo img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
}
.project-tiles__rating {
    background-color: #f4f4f4;
    border-top: 1px dotted #c2c2c2;
    border-bottom: 1px dotted #c2c2c2;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: max-height .5s linear;
    overflow: hidden;
    max-height: 700px;
    height: 100px;
    justify-content: center;
}
.project-tiles__rating-number {
    font-size: 24px;
    font-weight: 500;
}
.project-tiles__url {
    padding: 10px 8px;
}
.project-tiles__url-link {
    display: block;
    background: #ff9725;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    border-radius: 4px;
    /* line-height: 30px; */
    line-height: 14px;
    padding: 2px 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-tiles__url-link:hover {
    background: #120a8f;
}
.project-tiles__url-read-more {
    font-size: 12px;
    color: #0081c6;
    text-decoration: none;
    font-weight: 400;
    display: block;
    text-align: center;
    margin: 15px 0 5px 0;
}
.table-col__top {
    height: 273px;
}
.table-col__title {
    height: 43px;
    font-weight: 500;
    border-bottom: 1px dotted #c2c2c2;
    line-height: 17px;
    display: flex;
    align-items: center;
}
.table-col__name {
    border-bottom: 1px dotted #c2c2c2;
    height: 43px;
    display: flex;
    align-items: center;
    line-height: 16px;
    font-size: 14px;
}
.check__item {
    height: 43px;
    border-bottom: 1px dotted #c2c2c2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.check__icon {
    content: '';
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-check fa-w-16 fa-2x"><path fill="rgb(18, 10, 143)" d="M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z" class=""></path></svg>');
    width: 20px;
    height: 20px;
}
.table-col {
    min-width: 160px;
    width: 166px;
}
.filter-no-match {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-top: 50px;
    color: rgb(18, 10, 143);
}
.check__item .witget-all__star_row {
    margin-top: 0;
}
.btn-mobile-filter,
.btn-mobile-filter-bg,
.btn-mobile-filter-bg {
    display: none;
}
.slick-arrow {
    position: absolute;
    border: none;
    background: none;
    font-size: 0;
    top: 100px;
}
.slick-prev {
    left: -25px;
}
.slick-prev::before {
    content: '';
    width: 36px;
    height: 36px;
    display: block;
    width: 14px;
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" class="svg-inline--fa fa-angle-left fa-w-6 fa-3x"><path fill="rgb(18, 10, 143)" d="M4.2 247.5L151 99.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17L69.3 256l118.5 119.7c4.7 4.7 4.7 12.3 0 17L168 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 264.5c-4.7-4.7-4.7-12.3 0-17z" class=""></path></svg>');
    background-repeat: no-repeat;
}
.slick-next {
    right: -25px;
}
.slick-next::before {
    content: '';
    width: 36px;
    height: 36px;
    display: block;
    width: 14px;
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" class="svg-inline--fa fa-angle-left fa-w-6 fa-3x"><path fill="rgb(18, 10, 143)" d="M4.2 247.5L151 99.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17L69.3 256l118.5 119.7c4.7 4.7 4.7 12.3 0 17L168 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 264.5c-4.7-4.7-4.7-12.3 0-17z" class=""></path></svg>');
    background-repeat: no-repeat;
    transform: rotate(180deg)
}
.slick-disabled {
    display: none !important;
}
.slick-list {
    overflow: inherit !important;
    -webkit-clip-path: inset(0);
    /* safari*/
    clip-path: inset(0);
    clip: rect(0px, auto, auto, 0px);
    /* IE11/Edge (not that IE11 supports sticky anyway!) */
}
.project-tiles__item.active .project-tiles__rating {
    display: none;
}
.project-tiles__item.active .check__row {
    padding-top: 100px;
}
.filter-sidebar .advertiser-close {
    display: none;
}
.popup-filter-title {
    display: none;
}
.comparadise__header>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid #e6e6e6;
    z-index: 9;
}
.comparadise__header>.container>div {
    min-width: 32px;
}
.btn-mobile-compare {
    background: #ff9725;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    height: 65px;
    line-height: 65px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
}
.popup-compare {
    position: fixed;
    background: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99;
    display: none;
    overflow-y: auto;
}
.popup-compare.active {
    display: block;
}
.comparadise__header {
    height: 60px;
    background-color: #f5f5f5;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
}
.comparadise__header-navigation-title {
    font-size: 14px;
    text-align: center;
    line-height: inherit;
    font-weight: 700;
    color: #2d2d2d;
}
.comparadise__header-navigation-back,
.comparadise__header-navigation-modify {
    font-size: 14px;
    line-height: inherit;
    font-weight: 600;
    color: #1789d5;
    min-width: 32px;
    padding: 0;
    margin: 0;
    background-color: transparent;
}
.comparadise__home-btn {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    padding-top: 2px;
    background: #1789d5;
    color: #fff;
    z-index: 9;
    text-decoration: none;
}
.popup-compare__step-two .comparadise__header {
    top: 23px;
}
.comparadise__review-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 75px;
}
.comparadise__review-item {
    width: calc(100% / 2 - 8px);
    margin-bottom: 16px;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 7px rgb(0 0 0 / 15%);
    border-radius: 4px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    overflow: hidden;
}
.compare-button {
    background: #e2e2e2;
    font-size: 16px;
    font-weight: 700;
    color: #797979;
    height: 65px;
    line-height: 65px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.compare-button.active {
    background: #ff9725;
    color: #fff;
}
.comparadise__review-item.active {
    box-shadow: 0 0 12px rgb(0 0 0 / 35%);
    border: 1px solid #1789d5;
}
.popup-compare__step-two {
    display: none;
    /* overflow: scroll; */
}
.comparadise__review-row.disabled .comparadise__review-item {
    opacity: 0.5;
}
.comparadise__review-row.disabled .comparadise__review-item.active {
    opacity: 1;
}
.popup-compare__step-one.hidden {
    display: none;
}
.popup-compare__step-two.visible {
    display: block;
}
/* .comparadise__review-result-row .project-tiles__info {
    position: static;
} */
.comparadise__review-result-row {
    display: flex;
    padding-top: 75px;
    padding-left: 10px;
    padding-right: 10px;
}
.compare-block {
    margin-top: 40px;
}
.compare-name__row {
    position: relative;
}
.compare-name {
    line-height: 16px;
    position: absolute;
    margin-top: 5px;
}
.compare-name:first-child {
    margin-top: -20px;
}
.compare-name__filter {
    background: #f5f5f5;
    padding: 10px;
    /* height: 100px; */
    margin-right: 8px;
    line-height: 1.5;
    font-size: 14px;
    margin-top: 25px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.compare-name__filter span:not(:last-child):after {
    content: ',';
    margin-right: 7px;
}
.comparadise__review-result-row .project-tiles__item {
    min-width: 200px;
}
.popup-compare__scroll-img {
    position: fixed;
    width: 160px;
    height: 95px;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(45, 45, 45, 0.8);
    border-radius: 10prgba(0, 0, 0, 0.9);
    padding: 17px;
}
svg#swipe {
    filter: invert(100%) sepia(0%) saturate(7472%) hue-rotate(114deg) brightness(109%) contrast(97%);
}
.popup-compare__scroll-img span {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    display: block;
    text-align: center;
    color: #fff;
}
.popup-compare__scroll-img.hidden {
    display: none;
}
.comparison-mobile-pc {
    background: #ff9725;
    border-radius: 8px;
    width: 144px;
    height: 48px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 16px;
    padding: 16px 0;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
}
.comparison-mobile-pc:hover {
    background: rgb(18, 10, 143);
}
.single-reviews-castom-row__btn-visit_mobile {
    display: none;
}
.sub-menu li .menu-bold a {
    font-weight: 700 !important;
}
.header_home__check-row {
    margin-top: 20px;
}
.header_home__check-item {
    color: #000;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
    display: flex;
}
.header_home__check-item::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-check-circle fa-w-16 fa-2x"><path fill="rgb(18, 10, 143)" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" class=""></path></svg>');
    background-repeat: no-repeat;
    position: relative;
    top: 2px;
    min-width: 17px;
    min-height: 17px;
}
.header_home__check-item p {
    margin: 0;
    display: inline-block;
}
.adoric_popup {
    cursor: pointer;
}
.header_btn-compare {
    text-decoration: none;
    font-weight: 600;
    background: #ff9725;
    color: #fff;
    padding: 0 15px;
    border-radius: 18px;
    line-height: 34px;
    display: inline-block;
    margin-top: 10px;
}
.header_btn-compare:hover {
    background: rgb(18, 10, 143);
}
.witget-all,
#sidebar {
    float: left;
    /* width: 774px; */
    width: 759px;
}
#sidebar .sidebar__inner {
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}
.clearfix:after {
    display: block;
    content: "";
    clear: both;
}
#content {
    /* width: 312px;
    margin-left: 824px; */
    min-width: 352px;
    margin-left: 782px;
}
.wpml-ls-legacy-dropdown-click {
    width: auto !important;
}
.wpml-ls-legacy-dropdown-click a {
    border: none;
}
.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:after {
    display: none;
}
.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:before {
    content: '';
    display: inline-block;
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="globe" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" class="svg-inline--fa fa-globe fa-w-16 fa-2x"><path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm193.2 152h-82.5c-9-44.4-24.1-82.2-43.2-109.1 55 18.2 100.2 57.9 125.7 109.1zM336 256c0 22.9-1.6 44.2-4.3 64H164.3c-2.7-19.8-4.3-41.1-4.3-64s1.6-44.2 4.3-64h167.4c2.7 19.8 4.3 41.1 4.3 64zM248 40c26.9 0 61.4 44.1 78.1 120H169.9C186.6 84.1 221.1 40 248 40zm-67.5 10.9c-19 26.8-34.2 64.6-43.2 109.1H54.8c25.5-51.2 70.7-90.9 125.7-109.1zM32 256c0-22.3 3.4-43.8 9.7-64h90.5c-2.6 20.5-4.2 41.8-4.2 64s1.5 43.5 4.2 64H41.7c-6.3-20.2-9.7-41.7-9.7-64zm22.8 96h82.5c9 44.4 24.1 82.2 43.2 109.1-55-18.2-100.2-57.9-125.7-109.1zM248 472c-26.9 0-61.4-44.1-78.1-120h156.2c-16.7 75.9-51.2 120-78.1 120zm67.5-10.9c19-26.8 34.2-64.6 43.2-109.1h82.5c-25.5 51.2-70.7 90.9-125.7 109.1zM363.8 320c2.6-20.5 4.2-41.8 4.2-64s-1.5-43.5-4.2-64h90.5c6.3 20.2 9.7 41.7 9.7 64s-3.4 43.8-9.7 64h-90.5z" class=""></path></svg>');
    width: 16px;
    height: 17px;
    position: relative;
    margin-right: 5px;
}
.wpml-ls-legacy-dropdown-click a:hover,
.wpml-ls-legacy-dropdown-click a:focus,
.wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a {
    background: none;
}
.wpml-ls-legacy-dropdown-click a,
.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle {
    padding-right: 0;
    padding-left: 0;
    background: none;
    border: none;
}
.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle {
    display: flex;
}
.wpml-ls-legacy-dropdown-click a:hover {
    text-decoration: underline;
}
.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:hover {
    text-decoration: underline;
}
.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu {
    border: 1px solid #d0e7ff;
    background: #fff;
}
.wpml-ls-legacy-dropdown-click a:hover {
    text-decoration: none;
    background-color: #d0e7ff;
}
.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu {
    top: calc(100% + 5px) !important;
    left: auto !important;
    min-width: min-content;
}
.wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle {
    font-weight: 500;
    font-size: 16px;
}
.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu a {
    font-weight: 400;
    font-size: 14px;
    padding: 5px;
    border: none;
}
footer .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle,
footer .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:hover {
    color: #fff;
}
footer .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:before {
    background: url('data:image/svg+xml;utf8, <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="globe" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" class="svg-inline--fa fa-globe fa-w-16 fa-2x"><path fill="rgb(255,255,255)" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm193.2 152h-82.5c-9-44.4-24.1-82.2-43.2-109.1 55 18.2 100.2 57.9 125.7 109.1zM336 256c0 22.9-1.6 44.2-4.3 64H164.3c-2.7-19.8-4.3-41.1-4.3-64s1.6-44.2 4.3-64h167.4c2.7 19.8 4.3 41.1 4.3 64zM248 40c26.9 0 61.4 44.1 78.1 120H169.9C186.6 84.1 221.1 40 248 40zm-67.5 10.9c-19 26.8-34.2 64.6-43.2 109.1H54.8c25.5-51.2 70.7-90.9 125.7-109.1zM32 256c0-22.3 3.4-43.8 9.7-64h90.5c-2.6 20.5-4.2 41.8-4.2 64s1.5 43.5 4.2 64H41.7c-6.3-20.2-9.7-41.7-9.7-64zm22.8 96h82.5c9 44.4 24.1 82.2 43.2 109.1-55-18.2-100.2-57.9-125.7-109.1zM248 472c-26.9 0-61.4-44.1-78.1-120h156.2c-16.7 75.9-51.2 120-78.1 120zm67.5-10.9c19-26.8 34.2-64.6 43.2-109.1h82.5c-25.5 51.2-70.7 90.9-125.7 109.1zM363.8 320c2.6-20.5 4.2-41.8 4.2-64s-1.5-43.5-4.2-64h90.5c6.3 20.2 9.7 41.7 9.7 64s-3.4 43.8-9.7 64h-90.5z" class=""></path></svg>');
}
footer .wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a {
    color: #fff;
}
.home-one-post>a {
    display: block;
    background-color: transparent;
    background-image: linear-gradient( 180deg, rgb(12 12 12 / 50%) 0%, rgba(242, 41, 91, 0) 100%);
    height: 100%;
    text-decoration: none;
    padding: 15px 20px;
}
.home-one-post__h1 {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.26px;
    line-height: 1.33;
    color: #fff;
    width: calc(100% - 80px);
    margin-top: 20px;
}
.home-one-post .home-one-post__autor-data {
    margin-top: 20px;
}
.home-one-post__autor-data {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #000;
    line-height: 2.2;
    display: flex;
    margin-top: 10px;
    text-transform: capitalize;
}
.home-one-post__autor-ava {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.home-one-post__autor::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #000;
    position: relative;
    top: -2px;
    margin: 0 10px;
}
.home-two-post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.home-two-post__item {
    width: calc(50% - 15px);
    margin-top: 20px;
}
.home-two-post__img {
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.home-two-post__img img,
.home-bottom-block-post__img img {
    max-width: 100%;
    max-height: 100%;
    /* min-width: 100%;
    min-height: 100%; */
    /* object-fit: contain; */
    object-position: center;
}
.home-two-post__img img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}
.home-two-post__title {
    text-decoration: none;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.14px;
    text-transform: capitalize;
    margin-top: 15px;
    display: flex;
    transition: all 0.3s ease;
    color: #000;
}
.home-bottom-block-post {
    margin-top: 55px;
}
.home-bottom-block-post__titile {
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-size: 30px;
    font-weight: 800;
    display: flex;
    align-items: center;
    padding: 35px 0;
}
.home-bottom-block-post__titile::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: #000;
    margin-left: 16px;
    position: relative;
    top: 3px;
}
.home-bottom-block-post__titile span {
    white-space: nowrap;
}
.home-bottom-block-post__item {
    display: flex;
    margin-bottom: 30px;
}
.home-bottom-block-post__img {
    display: block;
    width: 262px;
    min-width: 262px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
/* .home-bottom-block-post__img img {
    display: block;
    width: 262px;
    height: 200px;
} */
.home-bottom-block-post__text {
    padding-left: 30px;
}
.home-bottom-block-post__desc {
    margin-top: 10px;
}
.main-content_home-page {
    margin-top: 50px;
    display: flex;
}
.main-content_home-page main {
    padding-right: 25px;
}
.home-bottom-block-post__h2 a {
    color: rgb(18, 10, 143);
    text-decoration: none;
    line-height: 30px;
    display: block;
}
.home-page-witger-compare {
    font-weight: 500;
    color: #fff;
    background: #120a8f;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
}
.home-page-witger-compare_orange {
    background: #ff9725;
}
.home-page-witger-compare:hover {
    background: #ff9725;
}
.sidebar__inner .article-content__title {
    color: #120a8f;
}
.witget-top3__btn-comp {
    background: #ff9725;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    line-height: 36px;
    padding: 0 20px;
    border-radius: 20px;
    position: absolute;
    right: 0;
    top: 2px;
    text-decoration: none;
}
.witget-top3__btn-comp:hover {
    background: #120a8f;
}
.witget-top3__home-page {
    background: linear-gradient( 180deg, rgba(119, 186, 255, 1) 0%, rgba(208, 231, 255, 1) 100%);
    padding: 50px 0;
    margin: 30px 0;
}
.witget-top3__home-page>div {
    position: relative;
}
.witget-top3 h2 {
    margin-top: 0;
}
.home-page-witger-compare_orange:hover {
    background: #120a8f;
}
.sidebar_block_home .top-5-witget__title {
    margin-bottom: 24px;
    margin-top: -8px;
}
.sidebar_block_home .top-5-witget-article {
    margin-top: 12px;
}
.comments-area input:not([id="wp-comment-cookies-consent"]) {
    display: block;
}
footer.comment-meta {
    background: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.comment-author {
    display: flex;
    font-size: 0;
    margin-right: 20px;
}
.comment-metadata a {
    color: #000;
    text-decoration: none;
}
ol.comment-list>li {
    border: 2px solid rgba(182, 180, 180, .28);
    border-radius: 8px;
    margin: 16px 0;
    padding: 20px;
    position: relative;
}
.comment-content {
    margin: 10px 0;
}
.reply {
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 400;
    font-size: 14px;
}
.comment-reply-link {
    text-decoration: none;
    color: #120a8f;
}
.top-5-witget_best .top-5-witget__item {
    display: block;
}
.top-5-witget__item_block {
    display: flex;
    justify-content: space-between;
}
.top-5-witget_best .witget-all__list-features-row {
    margin: 0;
    display: block;
    margin-top: 12px;
    border-top: 1px solid #ebeaea;
    padding-top: 8px;
}
.top-5-witget_best .list-features-row__item,
.top-5-witget_best .list-features-row__item_cross {
    margin: 0;
    font-size: 14px;
}
.top-5-witget_best .top-5-witget__row .top-5-witget__item:nth-child(1) {
    box-shadow: 0px 0px 12px 0px rgb(255 151 37);
    border: 1px solid rgb(255, 151, 37);
}
.top-5-witget_best .top-5-witget__row .top-5-witget__item:nth-child(2) {
    box-shadow: 0px 0px 12px 0px rgb(109 169 245 / 50%);
    border: 1px solid rgb(92, 172, 255);
}
.witget-top3__link_none-after::after {
    display: none;
}
.witget-top3__link_none-after {
    color: #fff;
    background: #11098e;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 15px;
    font-weight: 500;
    font-size: 14px;
    bottom: 10px;
}
.witget-top3__item:hover .witget-top3__link_none-after {
    color: #fff;
}
.main-content_home-page #article {
    height: 0;
}
.witget-top3__item:nth-child(1) {
    box-shadow: 0px 0px 12px 0px rgb(255 151 37);
    border: 1px solid rgb(255, 151, 37);
}
.witget-top3__item:nth-child(1) .witget-top3__link {
    line-height: 32px;
    border-radius: 17px;
    bottom: 10px;
}
.witget-top3__item:nth-child(1) .witget-top3__text {
    font-size: 16px;
    line-height: 24px;
}
.witget-top3__item:nth-child(2) {
    box-shadow: 0px 0px 12px 0px rgb(109 169 245);
    border: 1px solid rgb(92, 172, 255);
}
.witget-top3__item:hover .witget-top3__link_none-after {
    background: #ff9725;
}
.top-5-witget__item .bb-bubble-rts {
    width: 100%;
    padding: 0;
    line-height: 28px;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: -45px;
    top: auto;
    height: 28px;
}
.top-5-witget__item .bb-bubble-rts::before {
    transform: rotate( -180deg);
    left: 0;
    right: 0;
    bottom: auto;
    top: -9px;
    border-top: 9px solid #5cacff;
}
.top-5-witget__item .bb-bubble-rts::after {
    transform: rotate( -180deg);
    left: 0;
    right: 0;
    bottom: auto;
    top: -7px;
    border-top: 7px solid #fff;
}
.home-two-post .home-two-post__item:nth-child(1) {
    width: 100%;
    position: relative;
    margin-top: 0;
    height: 466px;
}
.home-two-post .home-two-post__item:nth-child(1) .home-two-post__title {
    position: absolute;
    top: 0;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.26px;
    line-height: 1.33;
    color: #fff;
    width: calc(100% - 80px);
    margin: 20px;
}
.home-two-post .home-two-post__item:nth-child(1) .home-two-post__img::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 180deg, rgb(12 12 12 / 50%) 0%, rgba(242, 41, 91, 0) 100%);
    display: block;
    position: absolute;
}
.witget-all__item_tooltop {
    margin-bottom: 50px;
}
.main-content_home-page .sidebar-full-page {
    margin-left: 0;
}
.wpml-ls-native {
    display: block;
}
.witget-top3__home-page .witget-top3__item:first-child:before {
    display: none !important;
}
/* btn up page */
.b-top {
    z-index: 26;
    position: fixed;
    left: 0;
    bottom: 100px;
    cursor: pointer;
    margin-left: calc(95% - 40px);
}
.element-input-text {
    width: 100% !important;
}
.cookies-popup {
    position: fixed;
    bottom: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 320px;
    color: #fff;
    font-size: 14px;
    line-height: 1.37;
    padding: 15px 20px;
    border-radius: 5px;
    z-index: 9999;
}
.cookies-popup a {
    color: #fff;
}
.cookies-popup__btn {
    margin-top: 10px;
    float: right;
    display: inline-block;
    color: rgb(110, 168, 231);
    font-weight: 500;
    cursor: pointer;
}
.cookies-popup__btn:hover {
    text-decoration: underline;
}
.close-popup {
    position: fixed;
    z-index: 999;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #005fcb;
    padding: 0 10px 5px 10px;
    width: 699px;
    height: 436px;
    margin: auto;
    /* box-shadow: rgb(5 27 255) 0px 0px 16px 2px;
    -webkit-box-shadow: rgb(5 27 255) 0px 0px 16px 2px;
    -moz-box-shadow: rgb(5, 27, 255) 0px 0px 16px 2px; */
}
.close-popup_accessibe {
    position: fixed;
    z-index: 999;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 0;
    width: 699px;
    height: min-content;
    margin: auto;
}
.close-popup_accessibe form {
    position: absolute;
    top: 205px;
    width: 300px;
    left: 30px;
}
.close-popup_accessibe p {
    margin: 0;
}
.close-popup_accessibe .wpcf7-not-valid-tip {
    font-size: 14px;
    line-height: 1;
}
.close-popup_accessibe .wpcf7-form-control-wrap {
    display: flex;
    flex-direction: column;
}
.close-popup_accessibe input {
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 300;
    order: 1;
}
.close-popup_accessibe input[type="submit"] {
    border: none;
    background: #0166ff;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.close-popup__content-row {
    background: #fff;
    display: flex;
    padding: 10px 25px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.close-popup__screen {
    width: 220px;
}
.close-popup__bottom-img {
    height: auto;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
}
.close-popup__bottom-img img {
    width: 88px;
}
.close-popup__title {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 0;
}
.close-popup__title img {
    margin-right: 20px;
}
.close-popup__logo img {
    margin: 0 auto;
}
.close-popup__btn {
    font-size: 16px;
    background-color: rgb(52, 164, 57);
    border: 0px solid rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;
    color: #fff;
    width: 100%;
    display: block;
    line-height: 50px;
    text-decoration: none;
    font-weight: 700;
}
.close-popup__close-btn {
    position: absolute;
    top: 13px;
    right: 11px;
    cursor: pointer;
}
.btn-popup {
    position: fixed;
    z-index: 999;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #005fcb;
    padding: 0 10px 5px 10px;
    margin: auto;
    box-shadow: rgb(5 27 255) 0px 0px 16px 2px;
    -webkit-box-shadow: rgb(5 27 255) 0px 0px 16px 2px;
    -moz-box-shadow: rgb(5, 27, 255) 0px 0px 16px 2px;
    height: min-content;
    width: 523px;
}
.btn-popup__logo img {
    width: 185px;
    height: 40px;
}
.btn-popup .close-popup__content-row {
    display: block;
    padding: 30px 40px;
}
.btn-popup .wpcf7-form-control-wrap {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}
.btn-popup .wpcf7-list-item {
    margin: 0;
}
.btn-popup input {
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    height: 30px;
    padding: 0 15px;
    font-style: italic;
}
.btn-popup__logo {
    margin-bottom: 20px;
}
.btn-popup input[type="checkbox"] {
    display: inline-block;
    width: 13px;
    height: 13px;
}
.btn-popup .wpcf7-list-item-label {
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    color: #797979;
}
.btn-popup .wpcf7-submit {
    background-color: rgb(52, 164, 57);
    color: #fff;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    height: auto;
}
.btn-popup .wpcf7-submit:hover {
    background-color: rgb(0, 108, 231);
}
.btn-popup form>p {
    margin: 0;
}
.btn-popup .ajax-loader {
    position: absolute;
    margin: 0;
    right: 60px;
    margin-top: 8px;
}
.btn-popup__close-btn {
    position: absolute;
    top: 13px;
    right: 11px;
    cursor: pointer;
}
.witget-all__read-more_show-more:after {
    transform: rotate(90deg);
    display: inline-block;
}
.witget-all__read-more_show-more {
    text-align: center;
    margin-top: 40px;
    cursor: pointer;
}
.witget-all__images-brend {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #5cacff;
    padding-top: 15px;
    margin-top: 10px;
}
.witget-all__images-brend a {
    margin: 0 5px;
    width: 75px;
    display: flex;
    align-items: center;
}
.bottom-down__item_one {
    width: 260px;
    min-width: 260px;
    margin-right: 15px;
    border-right: 1px solid #5cacff;
    padding-right: 25px;
}
.witget-all__bottom-down {
    border-top: 1px solid #5cacff;
    padding-top: 20px;
    margin-top: 15px;
}
.bottom-down__brend-logo-row {
    display: flex;
    flex-wrap: wrap;
}
.bottom-down__brend-logo-row a {
    width: calc(100% / 3 - 30px);
    margin: 15px;
    display: flex;
    align-items: center;
}
.bottom-down__content {
    font-size: 14px;
    margin-top: 15px;
}
.bottom-down__link {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    color: #000;
    text-decoration: none;
}
.bottom-down__link:hover {
    text-decoration: underline;
}
.bottom-down__brend-logo-row a img {
    max-height: 80px;
    object-fit: contain;
}
.close-popup-reviews {
    padding: 0;
    height: min-content;
    background: none;
}
.close-popup__block {
    position: absolute;
    bottom: 84px;
    left: 25px;
    width: 360px;
    display: flex;
    justify-content: center;
}
.brave_element__inner_link {
    background-color: #02dd02;
    color: #fff;
    padding: 0 20px;
    line-height: 40px;
    border-radius: 10px;
    font-weight: 500;
    text-decoration: none;
}
.fone-popup {
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
    position: fixed;
    top: 0;
    z-index: 995;
    display: none;
}
.popup-btn-footer {
    position: absolute;
    top: -23px;
    right: -76px;
    background: #120a8f;
    color: #fff;
    font-size: 14px;
    padding: 15px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    line-height: 1.5;
    font-weight: 400;
    width: 230px;
    display: flex;
    height: 120px;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    align-items: flex-end;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}
.popup-btn-footer.active {
    right: 0;
    transform: rotate(0deg);
}
.header-block {
    position: relative;
    overflow: hidden;
}
.close-popup_accessibe .wpcf7-response-output {
    margin: 0 !important;
    color: #fff;
    background: rgba(0,0,0, .3);
    font-size: 14px;
    line-height: 1.3;
}
.close-popup_accessibe .wpcf7 .ajax-loader {
    position: absolute !important;
}